{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
    کنسل کردن سانس | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<span class="center-align"><h3 class="fMarkazi gold-text";>کنسل شدن سانس</h3><br></span>
<div class="container">

  <div class="center card-panel hoverable grey lighten-2 z-depth-5 fMarkazi black-text">
    <h6>
سانس مورد نظر شما با موفقیت کنسل شد
<br>
در نظر داشته باشید که سانسی که کنسل شد به صورت خودکار برای کاربران سایت غیرقابل رزرو شد
اگر تمایل داشتید سانس دوباره قابل رزرو باشد ابتدا سانس را به حالت قابل رزرو تغییر دهید
<br>
لازم به ذکر است باید مبلغی که کاربر برای رزرو سانس پرداخت کرده بود به طور کامل به او برگردانده شود.

</h6>
</div>
</div>
<br><br>

    {% endblock %}
