{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
    عدم وجود سانس | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<span class="center-align"><h3 class="fMarkazi gold-text";>عدم وجود سانس</h3><br></span>
<div class="container">

  <div class="center card-panel hoverable grey lighten-2 z-depth-5 fMarkazi black-text">
    <h6>
تعداد سانس های قابل رزرو این سالن از مقدار انتخابی شما کمتر میباشد
<br>لطفا منتظر بمانید یا سالن های دیگری را برای عقد قرارداد انتخاب کنید
</h6>
</div>
</div>
<br><br>

    {% endblock %}
