{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block head_block %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="http://varzesh-kon.ir.com/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="/media/logos/favicon.png"/>
   <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

    <body class="grey darken-3" style="direction:rtl;" >

      <div style="z-index: 10" class="navbar-fixed" style="direction:ltr;">


            <nav style="min-height: 63px; height:63px; " class="white" >

        <nav class="white" >

          <div class="nav">

            <ul class="left">
              <a href="{% url 'index' %}"  ><img style="height: 100%" class="brand-logo center" src="/media/logos/white_logo.png" ></a>
            </ul>
            <ul class="right">
            <a  href="#" data-target="nav1" class="sidenav-trigger"><i  class="gold-text material-icons"><font color="#d4af37">menu</font></i></a>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-trigger gold-text fLalezar" href="#!" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>میانبر</a></li>
              {% if user.is_authenticated %}
              {% if user.is_sportclub %}
              {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
              <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
              {% else %}
              <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
              <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
              {% endif %}

              <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
              <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
              {% endif %}
              {% if user.is_commonuser %}
              <li><a href="{% url 'commonuser:dashboard' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
              <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
              <li><a href="" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
              <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
              {% endif %}
              {% if user.is_superuser %}
              <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
              <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
              <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>


              {% endif %}
              {% if user.is_masteruser %}
              <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
              <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
              <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
              {% endif %}
              {% else %}
              <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
              <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
              <li><a href="{% url 'company:contactus' %}"><a class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
  </div>



<div class="row">
  <br>
</div>

      {% block body_block %}
      {% endblock %}
<!--Footer-->
      <footer class="page-footer grey darken-4">
        <div class="container ">
          <div class="row">
            <div class="col l6 m6 s12" style="direction:ltr;">
              <h4 class="gold-text fMarkazi">سامانه ورزش کن</h4>
              <a href="{% url 'index' %}"><img class="brand-logo center" src="/media/logos/footer_logo.png" width="160"></a>
            </div>
            <div class="col l4 m4 offset-l2 offset-m2 s12 right-align fMarkazi gold-text">
              <ul><h5>
                <li><a class="gold-text" href="{% url 'company:contactus' %}">ارتباط با ما</a></li>
                <li><a class="gold-text" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی در سامانه</a></li>
                <li><a class="gold-text " href="{% url 'company:faqs' %}">سوالات متداول</a></li>
                <li><a class="gold-text " href="{% url 'company:aboutus' %}">درباره ما</a></li>
                <li><a class="gold-text" href="{% url 'company:termsdetail' %}">قوانین سایت</a></li></h5>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black">
          <div class="fMarkazi container gold-text">
        1398  سامانه ورزش کن

          </div>
        </div>
      </footer>

      <!--NavOptions-->
      <ul class="sidenav white" id="nav1" style="direction:ltr;">
        <li><br></li>
        <li><a class="dropdown-trigger gold-text fLalezar" style="color:#d4af37;" href="#!" data-target="dropdownb1"><i style="color:#d4af37;" class="material-icons right">arrow_drop_down</i>میانبر</a></li>
        {% if user.is_authenticated %}
        {% if user.is_sportclub %}
        {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
        <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
        {% else %}
        <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
        {% endif %}

        <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% if user.is_commonuser %}
        <li><a href="{% url 'commonuser:dashboard' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
        <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'company:contactus' %}" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>


        {% endif %}
        {% if user.is_masteruser %}
        <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% else %}
        <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
        <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
        <li><a href="{% url 'company:contactus' %}" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
        {% endif %}
      </ul>



      <ul id="dropdown1" class="dropdown-content white" style="direction:ltr; border: #d4af37 1px solid;">
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i style="color: white;" class=" material-icons teal-text">event_available</i></a></li>
      </ul>
      <ul id="dropdownb1" class="dropdown-content white" style="direction:ltr; border: #d4af37 1px solid;">
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i  class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
        <li class="divider gold"></li>
        <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i style="color: white;" class=" material-icons teal-text">event_available</i></a></li>
      </ul>
      <!--NavOptions-->
      {% block datepicker_script_block %}
      {% endblock %}

      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/bin/anime.min.js' %}"> </script>
      <script src="{% static 'js/materialize.min.js' %}"> </script>
      <script>
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });

        $(document).ready(function(){
          $('.tooltipped').tooltip();
        });

      </script>

      {% block script_block %}
      {% endblock %}
      <script type="text/javascript">
      $(document).ready(function(){
        $(".dropdown-trigger").dropdown({ constrainWidth: false, alignment: 'right' });
      });
      </script>
    </body>
  </html>
