{% extends "base_templates/base_public.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
    خطا | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<span class="center-align"><h3 class="fLalezar gold-text";>خطا</h3><br></span>
<div class="container">

  <div style="direction:rtl;" class="center card-panel hoverable grey lighten-3 z-depth-5 fHarmattan black-text">
    <h6><br>
لطفا بعد از گذشت 120 ثانیه نسبت به وارد کردن دوباره شماره تلفن اقدام بفرمائید.
</h6><br>
</div>
</div>
<br><br><br><br>

    {% endblock %}
