{% extends "base_templates/base1.html" %}

{% block head_block %}
<title>
  تغییر کلمه عبور | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container">
  <div class="container"><br>
<span class="center-align"><h3 class="fMarkazi gold-text";>تغییر کلمه عبور</h3><br><br></span>
  <div class="row center">
  <div class="card-panel hoverable pink accent-3 z-depth-5">

        <form method="POST">
          <div class="input-field col s12">
  {{form.current_password}}
  {{form.Hfield}}
  <label class="fMarkazi" for="username">کلمه عبور فعلی</label>
</div>
<div class="input-field col s12">
{{form.new_password}}
<label class="fMarkazi" for="username">کلمه عبور جدید</label>
</div>
<div class="input-field col s12">
{{form.confirm_password}}
<label class="fMarkazi" for="username">تکرار کلمه عبور جدید</label>
</div>


            {% if error1 %}
            <p class="fMarkazi white-text">{{error1}}</p>
            {% endif %}
            {% if error2 %}
            <p class="fMarkazi white-text">{{error2}}</p>
            {% endif %}
            {% if error3 %}
            <p class="fMarkazi white-text">{{error3}}</p>
            {% endif %}
            {% if error4 %}
            <p class="fMarkazi white-text">{{error4}}</p>
            {% endif %}

                {% csrf_token %}

                <button class="hoverable btn waves-effect waves-dark gold white-text z-depth-3" type="submit">تایید
    </button>
    <br><br>

        </form>
  </div>
</div>
</div>

</div>
</div>
</div>
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
