{% extends "base_templates/base_public.html" %}

{% block head_block %}
<meta name=”robots” content=”index,follow”>
<title>
  قوانین سایت | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container">
<br>
<span class="center-align"><h3 class="fLalezar gold-text";>درباره ما</h3><br><br></span>
  <div class="row center">
  <div style="font-size:170%; direction:rtl;" class="card-panel hoverable grey lighten-3 z-depth-5 right-align fHarmattan">
    <div class="card-panel grey lighten-3">
      <div class="gold-text center fLalezar">
        <h4>سامانه ورزش کن</h4><br>
      </div>


سامانه ورزش کن یک سامانه ی آنلاین رزرو سانس ها و سالن های ورزشی کشور میباشد که از سال 1398 کار خود را شروع کرده است.
رشته های ورزشی که در حال حاضر توسط این سامانه پشتیبانی میشوند عبارتند از: فوتسال, والیبال, فوتبال,بسکتبال و هندبال.
اما در آینده ی نزدیک مدیران این سامانه در نظر دارند دیگر رشته های ورزشی اعم از بدنسازی و شنا را نیز پشتیبانی کنند.<br>
با استفاده از سامانه ورزش کن دیگر نیازی به تلفن کردن به مجموعه های ورزشی برای اطلاع از سانس های خالی و همچنین حضور فیزیکی در
 مجموعه ورزشی مربوطه جهت رزرو کردن سانس و یا بیعانیه دادن نخواهد بود. کافیست در این سامانه ثبت نام کرده و به پیدا کردن سالن
  و سانس موردنظر خود بپردازید و با پرداخت آنلاین هزینه ی تعیین شده توسط مجموعه های ورزشی به رزرو کردن سانس بپردازید.<br>
  لازم به ذکر است که با استفاده کردن از این سامانه هیچ هزینه اضافی از شما گرفته نمیشود و شما همان هزینه ای را پرداخت
   خواهید کرد که مجموعه ورزشی آن را تعیین کرده اند. سامانه ورزش کن این هدف را دارد که با برطرف کردن مشکلات و سختی
   های رزرو کردن سانس قدمی در راستای کمک به ورزشکاران عزیز بردارد.<br>
   اگر مجموعه ورزشی هستید و قصد دارید مدیریت سالن و سانس های خود را چند برابر آسان تر کنید سامانه ورزش کن این
   امکان را به شما میدهد تا با ثبت نام در آن در عرض فقط چند دقیقه سانس های سالن مورد نظر خود را ایجاد کرده و آنها را
    قیمت گذاری کنید و بقیه کار ها را به ما بسپارید.
    کافیست از طریق لینک <a class="fHarmattan gold-text "href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی در سامانه</a>
     فرم مربوطه را پر کرده تا بدون افزایش هزینه
    هم مدیریت سالن خود را آسان تر کنید و هم دیگر سانس خالی و رزرو نشده ای نداشته باشید و ورزشکاران کشور را
    در راستای رزرو کردن تایم های مورد نظرشان یاری بفرمائید.

    <div class="row center fLalezar black-text">
      <br><br>
      <p>از اینکه سامانه ورزش کن را جهت آسان تر کردن امور خود انتخاب کرده اید متشکریم.</p>

      <p>آدرس ایمیل جهت ارتباط با مدیران سایت
      <br>
      info@varzesh-kon.ir</p>
    <p class="col s12 m6 l6 center" style="margin-top:0px"><span>مارا در اینستاگرام دنبال کنید </span><a href="https://instagram.com/varzesh_kon.ir"><img style="margin-bottom:-18px; margin-left:5px;" src="/media/logos/instagram_logo.png" width="42"></img></a></p>
  <p class="col s12 m6 l6 center" style="margin-top:0px"><span> ارتباط در تلگرام</span><a href="https://t.me/varzesh_kon"><img style="margin-bottom:-18px; margin-left:5px;" src="/media/logos/telegram_logo.png" width="58"></img></a></p>
    </div>
        </div>

  </div>
</div>
</div>
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
