{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  سوالات متداول | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">

  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar gold-text";>سوالات متداول</h3><br><br></span>
  <div class="row center">




<ul class="collapsible z-depth-2 fLalezar hoverable popout gold-text">

  <li>
    <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
عضویت کاربران در سامانه ورزش کن به چه صورت است
    </div>
    <div class="collapsible-body  grey lighten-3 teal-text black-text">
برای عضویت در سامانه رزرو مجموعه های ورزشی باید از طریق لینک عضویت اقدام کنید. دقت کنید که قبل از عضویت باید قوانین سایت را
به طور کامل مطالعه کرده باشید. همچنین درنظر داشته باشید با هر شماره همراه فقط یکبار قادر به عضویت در سایت خواهید بود
</div>
</li>
  <li>
    <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
عضویت مجموعه های ورزشی در سامانه ورزش کن به چه صورت است
    </div>
    <div class="collapsible-body  grey lighten-3 teal-text black-text">
      برای ثبت مجموعه ورزشی و یا سالن خود در سامانه ورزش کن باید از طریق لینک <a href="{% url 'company:sportclubcontact' %}"> ثبت مجموعه ورزشی در سامانه </a>
      اقدام به پر کردن فرم کنید. سپس در اولین فرصت مدیران ما با شما تماس گرفته و مجموعه ورزشی شما را در سامانه ثبت خواهند کرد.
</div>
</li>
  <li>
    <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
  نحوه ی رزرو سانس ها به چه صورت است
    </div>
    <div class="collapsible-body  grey lighten-3 teal-text black-text">
  پس از اینکه مطمئین شدید میخواهید سانسی را رزرو کنید با انتخاب سانس مد نظر خود و کلیک بر روی لینک
  رزرو به صفحه ی درگاه بانکی هدایت میشوید و پس از واریز وجه درخواست شده از سوی مجموعه ورزشی آن سانس برای شما رزرو خواهد شد
  </div>
  </li>
  <li>
    <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
  نحوه ی کنسل کردن سانس ها به چه صورت است
    </div>
    <div class="collapsible-body  grey lighten-3 teal-text black-text">
  کنسل کردن سانس ها در سامانه ورزش کن مقدور میباشد. اما با توجه به محدودیت های پرداخت شما وجه بازگشتی خود را
  فردای سانس کنسل شده میتوانید از مجموعه ورزشی موردنظر دریافت کنید.<br>
  اما درصد کسر شده از مبلغ پرداختی شما بنابر زمان باقی مانده به شروع سانس مقدار های مختلفی خواهد داشت. به
  طوری که اگر بیش از یک روز تا شروع سانس باقی باشد ۵٪, اگر بین یک روز تا پنج ساعت به شروع سانس باقی مانده باشد ۱۵٪ از
  وجه بازگشتی کسر خواهد شد. و درصورتی که کمتر از پنج ساعت به شروع سانس باقی مانده باشد امکان کنسل کردن سانس
  وجود ندارد مگر با موافقت مجموعه ورزشی.
  </div>
  </li>
  <li>
    <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
  آیا با استفاده از سامانه ورزش کن باید هزینه اضافی دیگری بپردازیم
    </div>
    <div class="collapsible-body  grey lighten-3 teal-text black-text">
  خیر. این سامانه فقط به عنوان یک رابط میان مجموعه های ورزشی و کاربران عمل میکند تا کار رزرو را هم برای
  شما کاربران عزیز و هم برای مجموعه های ورزشی آسان تر کند و هیچ هزینه اضافی از کاربران سایت جهت
  رزرو سانس ها دریافت نمیکند و وجه پرداختی شما همان هزینه تعیین شده توسط صاحب سالن ورزشی میباشد.
  </div>
  </li>
<li>
  <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
آیا پس از رزرو سانس باید با مجموعه ورزشی مربوطه تماس گرفته و او را از رزرو مطلع سازیم
  </div>
  <div class="collapsible-body  grey lighten-3 teal-text black-text">
خیر. پس  از رزرو سانس با استفاده از کد رزرو که برای شما نشان داده میشود میتوانید در مجموعه ورزشی مربوطه حضور
پیدا کرده و از سانس خود استفاده کنید
</div>
</li>
<li>
  <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
نحوه ی رزرو کردن قرارداد های بلندمدت به چه صورت است
  </div>
  <div class="collapsible-body  grey lighten-3 teal-text black-text">
هر سالن میزان تخفیف قرارداد های بلند مدت خاص خود را دارد. اگر شما بیش از تعداد جلسات مشخص شده ی برای تخفیف را
رزرو کنید میتوانید از تخفیف قرارداد های طولانی بهره مند شوید
</div>
</li>
<li>
  <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
نحوه ی مدیریت سانس ها برای مجموعه های ورزشی چگونه است؟
  </div>
  <div class="collapsible-body  grey lighten-3 teal-text black-text">
    سامانه ورزش کن کاملا به صورت بهینه طراحی شده و با رعایت اصول موجود مدیریت سانس ها کاملا آسان گشته است.
    به طوری که شما فقط در عرض چند دقیقه میتوانید سانس های خود را ایجاد کرده و آن ها را قیمت گذاری کنید و منتظر
    رزرو سانس ها در سامانه ورزش کن باشید.
</div>
</li>
<li>
  <div class="collapsible-header fLalezar grey darken-4 center" style="display: block;"><h6>
برای مدیران مجموعه های ورزشی که استفاده از سامانه های آنلاین را بلد نمیباشد اوضاع به چه صورت است
  </div>
  <div class="collapsible-body  grey lighten-3 teal-text black-text">
رابط کاربری سامانه به صورتی طراحی شده است که میتوان با استفاده از ابزاری که میتوان با آن به اینترنت وصل شد
مدیریان مجموعه های ورزشی به آسان ترین شکل قادر به اداره ی سانس ها باشند. مدیران سامانه ورزش کن نیز آماده کمک کردن
در راستای ایجاد سانس ها هستند.
</div>
</li>
</ul>



  </div>

</div>

</div>

</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
$(document).ready(function(){
  $('.collapsible').collapsible();
});
</script>
{% endblock %}
