{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  ارتباط با ما | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">

  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar gold-text";>ارتباط با ما</h3><br><br></span>
  <div class="row center">
    <div class="card-panel hoverable pink accent-3 z-depth-4 right-align">
      <div class="row center fLalezar black-text">
        <h3 class="fLalezar gold-text">ثبت مجموعه ورزشی در سامانه ورزش کن</h3>
      <h6>فرم زیر را پر کنید تا مدیران ما در اولین وقت با شما جهت افزودن مجموعه ورزشی خود به سامانه ورزش کن تماس بگیرند.</h6>
<h6 class="fMarkazi right-align">اگر مجموعه ورزشی هستید یا سالن ورزشی دارید و علاقه دارید عضوی از سامانه ورزش کن باشید و مدیریت
سانس های خود را به ما بسپارید و بدون افزایش هزینه و به صورت آزمایشی سانس های خود را در این سامانه به اجاره دهید فرم زیر
 را پر کنید تا مدیران ما در اولین فرصت با شما تماس بگیرند و کارتان را در سامانه ورزش کن شروع کنید
<br>
با ثبت نام در این سامانه نیاز مردم و ورزشکاران عزیز به تماس تلفنی جهت اطلاع از خالی بودن سانس ها رفع میشوند و
 ورزشکاران قادر خواهند بود بدون حضور فیزیکی در مجموعه ورزشی با پرداخت هزینه سانس ها به صورت آنلاین, آن ها را رزرو نمایند و بدین ترتیب
رزرو سانس های شما افزایش پیدا خواهد کرد.
پس با پر کردن فرم زیر علاوه بر اینکه مدیریت سالن هایتان بینهایت آسان تر خواهد شد, سانس رزرو نشده ای نیز نخواهید داشت.</h6>
      </div>
  <div class=" hoverable z-depth-1">





    <form method="POST">
      {{form.Hfield}}

<div class="input-field col s12 m6 l6 red-text">
{{form.name}}
<label class="fLalezar right-align" for="name">نام و نام خانوادگی</label>
</div>
<div class="input-field col s12 m6 l6 red-text">
{{form.phone}}
<label class="fLalezar right-align" for="phone">شماره تماس</label>
</div>


<div style="direction:ltr;" class="input-field col s12 m6 l6 fLalezar">
  <select style="direction:ltr;" name="region">

    <option value="آذربایجان شرقی" class="">آذربایجان شرقی  </option>
    <option value="آذربایجان غربی" class="">آذربایجان غربی</option>
    <option value="اردبیل" class="">اردبیل</option>
    <option value="اصفهان" class="">اصفهان</option>
    <option value="البرز" class="">البرز</option>
    <option value="ایلام" class="">ایلام</option>
    <option value="بوشهر" class="">بوشهر</option>
    <option value="تهران" class="">تهران</option>
    <option value="چهار محال و بختیاری" class="">چهار محال و بختیاری</option>
    <option value="خراسان جنوبی" class="">خراسان جنوبی</option>
    <option value="خراسان رضوی" class="">خراسان رضوی</option>
    <option value="خراسان شمالی" class="">خراسان شمالی</option>
    <option value="خوزستان" class="">خوزستان</option>
    <option value="زنجان" class="">زنجان</option>
    <option value="سمنان" class="">سمنان</option>
    <option value="سیستان و بلوچستان" class="">سیستان و بلوچستان</option>
    <option value="فارس" class="">فارس</option>
    <option value="قزوین" class="">قزوین</option>
    <option value="قم" class="">قم</option>
    <option value="کردستان" class="">کردستان</option>
    <option value="کرمان" class="">کرمان</option>
    <option value="کرمانشاه" class="">کرمانشاه</option>
    <option value="کهگیلویه و بویر احمد" class="">کهگیلویه و بویر احمد</option>
    <option value="گلستان" class="">گلستان</option>
    <option value="گیلان" class="">گیلان</option>
    <option value="لرستان" class="">لرستان</option>
    <option value="مازندران" class="">مازندران</option>
    <option value="مرکزی" class="">مرکزی</option>
    <option value="هرمزگان" class="">هرمزگان</option>
    <option value="همدان" class="">همدان</option>
    <option value="یزد" class="">یزد</option>

  </select>

  <label>استان</label>
</div>

<div class="input-field col s12 m6 l6 red-text">
{{form.address}}
<label class="fLalezar right-align" for="user_phone">آدرس مجموعه ورزشی</label>
</div>

<div class="row center-align center">
<script class="center center-align" src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6Lf6_N4UAAAAAKn9xYvkDUMWX4FIoqZXyfzdK6Dn"></div>

</div>
<div class="fMarkazi center">
  {% if message %}
  <br>
  {{message}}
  <br>
  {% endif %}
</div>
<br><br><br>

            {% csrf_token %}
<div class="row center">
  <button class="fLalezar center hoverable btn waves-effect waves-dark gold white-text z-depth-3" type="submit">فرستادن پیام
</button>
</div>

<br><br>
    </form>







  </div>

  <div class="row center fLalezar black-text">
    <br><br>
    <p>از اینکه سامانه ورزش کن را جهت آسان تر کردن امور خود انتخاب کرده اید متشکریم.</p>

    <p>آدرس ایمیل جهت ارتباط با مدیران سایت
    <br>
    info@varzesh-kon.ir</p>
  <p class="col s12 m6 l6 center" style="margin-top:0px"><span>مارا در اینستاگرام دنبال کنید </span><a href="https://instagram.com/varzesh_kon.ir"><img style="margin-bottom:-18px; margin-left:5px;" src="/media/logos/instagram_logo.png" width="42"></img></a></p>
<p class="col s12 m6 l6 center" style="margin-top:0px"><span>  مارا در تلگرام دنبال کنید</span><a href="https://t.me/varzesh_kon"><img style="margin-bottom:-18px; margin-left:5px;" src="/media/logos/telegram_logo.png" width="58"></img></a></p>
  </div>

</div>
</div>
</div>

</div>



{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
$(document).ready(function(){
  $('select').formSelect();
});
</script>
{% endblock %}
