{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  قوانین سایت | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar gold-text";>قوانین سایت</h3><br><br></span>
  <div class="row center">
  <div style="font-size:150%" class="card-panel fMarkazi hoverable pink accent-3 z-depth-5 right-align">
    {% for term in terms %}
{{term.terms_condition|linebreaks}}
{% endfor %}
<div class="fLalezar row center-align white-text">
  خواهشنمد است قبل از ثبت نام در سامانه ورزش کن قوانین و مقررات را به طور کامل مطالعه کنید:
</div>

1. این وب سایت تابع قوانین جمهوری اسلامی ایران می باشد.
<br>

2. فقط در صورت ذکر منبع کپی از این سایت بلامانع میباشد.
<br>
3. کاربر در ثبت نام باید تمامی مشخصات خود را به صورت دقیق و صحیح وارد کند. هرگونه عواقب عدم ثبت اطلاعات دقیق بر عهده خود کاربر میباشد.
<br>
4. عضویت و استفاده از سامانه ورزش کن کاملا رایگان میباشد.
<br>
5. سامانه ورزش کن هیچ مسئولیتی در قبال مشکلات پیش آمده بعد از تحویل سانس ندارد.
<br>
6.
کنسل کردن سانس ها در سامانه ورزش کن مقدور میباشد. و با توجه به محدودیت های پرداخت شما وجه بازگشتی خود را
فردای سانس کنسل شده میتوانید از مجموعه ورزشی موردنظر دریافت کنید.<br>
اما درصد کسر شده از مبلغ پرداختی شما بنابر زمان باقی مانده به شروع سانس مقدار های مختلفی خواهد داشت. به
طوری که اگر بیش از یک روز تا شروع سانس باقی باشد ۵٪, اگر بین یک روز تا پنج ساعت به شروع سانس باقی مانده باشد ۱۵٪ از
وجه بازگشتی کسر خواهد شد. و درصورتی که کمتر از پنج ساعت به شروع سانس باقی مانده باشد امکان کنسل کردن سانس
وجود ندارد مگر با موافقت مجموعه ورزشی.
<br>
7. سامانه ورزش کن مسئولیتی در قبال کیفیت سالن و خدمات ارائه شده توسط مجموعه ورزشی ندارد
<br>
8. قبل از رزرو سانس موردنظر خود مشخصات سالن و مجموعه ورزشی را به دقت مطالعه کنید.
<br>
9. سامانه ورزش کن فقط مسئولیت رزرو سانس ها را دارد و به عنوان یک رابط بین کاربر و مجموعه ورزشی عمل میکند و مسئولیت به غیر از آن مانند عدم رعایت قوانین و مقررات سالن توسط شخص رزرو کننده را ندارد.
<br>
10. ممکن است سانسی که رزرو کرده اید با اطلاع دادن مجموعه ورزشی مربوطه لغو گردد. در این صورت تمام وجه پرداختی خود را میتوانید به صورت خضوری از مجموعه ورزشی دریافت کنید
<br>
11. کاربر باید در حفظ نام کاربری و رمز خود در سامانه کوشا باشد و آن را در اختیار افراد دیگری قرار ندهد.
<br>
12. سامانه ورزش کن حق تغییر سیایت های خود را داراست و با انتشار اعلامیه ای میتواند این تغییر هارا به کاربران اطلاع دهد.
<br>
13. سامانه حالا ورزش اطلاعات شخصی کاربران اعم از اطلاعات مالی و هویتی مانند شماره تلفن را به صورت کاملا محرمانه نگه داری خواهد کرد.
<br>
14. مسئولیت هر نوع اتفاق یا کیفیت کلاس ورزشی بر عهده برگزار کننده می باشد و مسئولیتی بر عهده اسان اسپرت نمی باشد
<br>
15. حضور کاربر حداقل ده دقیقه قبل از وقت تعیین شد، در محل الزامی است .
<br>
16.  پس از اتمام عملیات خرید، امکان انصراف از خرید به هیچ وجه برای خریدار امکان پذیر نمی باشد؛ مگر با اقدام به کنسل کردن سانس که شرایط خودش را داراست.
<br>
17. ارائه کد رزرو که پس از رزرو کردن سانس در اختیار کاربران قرار داده میشود جهت استفاده از سالن الزامی است.
<br>
18. درصورت رزرو مجموعه های چند منظوره در سامانه، مسئولیت تأمین هر گونه وسایل و تجهیزات ورزشی نظیر توپ و لباس و ... به عهده خود کاربر می باشد .
<br>
19.رعایت اخلاق ورزشی و حفظ شئونات اسلامی و رعایت مقررات مجموعه اعم از سیگار نکشیدن و ... از وظایف شخص رزرو کننده میباشد.
<br>
20. سامانه ورزش کن در قبال بیمه افراد استفاده کننده از امکانات مجموعه هیچگونه مسئولیت قانونی نداشته و در صورت رخداد هر گونه حادثه ای سامانه ورزش کن مسئولیتی ندارد
<br>
21. کاربر با ثبت نام در این سامانه تمامی قوانین و شرایط سامانه ورزش کن را میپذیرد.
  </div>
</div>
</div>


</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
