{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
  تشکر | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
<div class="section">
  <div class="container">
  <div class="container"><br>
<span class="center-align"><h3 class="fLalezar gold-text";>تشکر</h3><br><br></span>
  <div class="row center">
  <div class="card-panel hoverable pink accent-3 z-depth-5 right-align">
    پیام شما به مدیران سایت فرستاده شد <br>
از اینکه وقت خود را در راستای بهبود بخشیدن به عملکرد ما در اختیارمان گذاشتید بسیار ممنونیم
  </div>
</div>
</div>

</div>

</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
  $(document).ready(function() {
  M.updateTextFields();
});
</script>
{% endblock %}
