{% load static %}
{% load customtags_sportclub %}
{% load customtags_session %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<!DOCTYPE html>
<html>
  <head>
    <title>
        رزرو سالن ورزشی | سامانه ورزش کن
    </title>
    <meta name="google-site-verification" content="5rzOcKTW4Po3gOenh5hEYZLu04gfKUsHZ3GRGieYyMA" />
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<link rel="shortcut icon" type="image/png" href="http://varzesh-kon.ir.com/favicon.png"/>
<link rel="shortcut icon" type="image/png" href="/media/logos/favicon.png"/>

    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

   <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="(c) 2019 varzesh-kon.ir">
    <meta name="description" content="سامانه ورزش کن سامانه ی آنلاین رزرو سانس ها و سالن های ورزشی اعم از سالن فوتسال و والیبال و ... میباشد که ...">
    <meta name="keywords" content=",رزرو سانس والیبال,سالن والیبال,رزرو سالن والیبال,,بسکتبال,هندبال,والیبال,رزرو سالن فوتسال,رزرو زمین چمن,زمین چمن,والیبال,سامانه رزرو سالن فوتسال,ورزش کن,سامانه ورزش کن,سانس ورزشی,رزرو سانس ورزشی,رزرو آنلاین سانس,رزرو اینترنتی سالن فوتسال,رزرو آنلاین سالن فوتسال,رزرو سالن فوتسا,رزرو سانس ورزشی,رزرو سانس,سالن فوتسال,فوتسال,سالن,سانس,رزرو">

    <style media="screen">
        #gis {width:100%;height:400px;z-index: 0}
    </style>
    <style type="text/css">
      html,body{
        overflow-x:hidden;
      }
</style>
    <script type="text/javascript" src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  </head>
  <body class="fMarkazi">
<!-- initialzing sportclub points on map -->
<script type="text/javascript">
  function points(map,options){
    var datasets = new L.GeoJSON.AJAX("{% url 'sportclub:mapdataset' %}",{
      onEachFeature: function(feature, layer){

        layer.bindPopup(feature.properties.pk.toString());
        var pk = feature.properties.pk;
        layer.on("click", function(e){
          console.log("inner",pk);
          location.href='/sportclub/Pdetail/'+pk+'/';
        });

      }
    });
    datasets.addTo(map);
  }
</script>
<!-- initialzing sportclub points on map -->


<style type="text/css">

</style>

<!-- introduction -->
<div id="introduction" class="blockone grey darken-4 section scrollspy">
  <nav class="pushpin-demo-nav pinned" data-target="introduction" style="z-index: 1;top: 0px;">
    <div class="nav-wrapper black">
      <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down table-of-contents fLalezar">
          <li><a style="color: #d4af37;" href="#introduction">ورزش کن</a></li>
          <li><a style="color: #d4af37;" href="#map">نقشه</a></li>
          <li><a style="color: #d4af37;" href="#salon">سالن ها و سانس ها</a></li>
        </ul>

        <a href="{% url 'index' %}"  ><img style="height: 100%" class="brand-logo center" src="/media/logos/black_logo.png" ></a>
        <ul class="right">
        <a  href="#" data-target="nav1" class="sidenav-trigger"><i  class="gold-text material-icons"><font color="#d4af37">menu</font></i></a>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger gold-text fLalezar" href="#!" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>میانبر</a></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
          {% else %}
          <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
          {% endif %}

          <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li><a href="{% url 'commonuser:dashboard' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
          <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'company:contactus' %}" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>


          {% endif %}
          {% if user.is_masteruser %}
          <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% else %}
          <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
          <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
          <li><a href="{% url 'company:contactus' %}" class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
<!-- end nav-->



<div class="row">
  <div class="col s6 m3 l3 right-align">
    <div class="hide-on-small-only">
          <br>
    </div>
<br><br><br><br><br><br><br>
    <img class="brand-logo center" src="/media/logos/footer_logo.png" width="230">
    <br>

  </div>
  <div class="col s6 m3 l3">
    <div class="hide-on-small-only">
          <br>
    </div>
<br><br><br><br><br>
    <h2 class="fLalezar right-align gold-text">سامانه</h2>
    <h2 class="fLalezar center-align gold-text">ورزش</h2>
    <h2 class="fLalezar left-align gold-text">کن</h2>
  </div>
  <div class="col s12 m1 l1">

  </div>
<div class="col s12 m4 l4 white-text fMarkazi right-align">
  <div class="hide-on-small-only">
  <br><br><br><br><br><br><br>
  </div>
<br><br><br>
<h5 class="fHarmattan" style="direction: rtl; text-align: justify; text-justify: inter-word;">سامانه ورزش کن یک سامانه ی آنلاین رزرو سانس های ورزشی میباشد که به منظور آسان تر کردن رزرو سالن های
ورزشی مانند سالن فوتسال و سالن والیبال و بسکتبال و زمین چمن ایجاد شده است و با استفاده از این سامانه شما
میتوانید به رزرو سانس فوتسال یا سانس دیگر رشته های ورزشی بپردازید. </h5>
  </div>


</div>
<div class="row" style="direction:rtl; text-align:right;">
  <form method="POST" style="direction:rtl; text-align:right;">
{% csrf_token %}


  {% if error %}
  <div class="col s12 m12 l12 center red-text text-darken-2">
    <h5 style="direction:rtl;">
  مجموعه ورزشی با سریال وارد شده پیدا نشد.
  </h5>
</div>
  {% endif %}
  <div class="hide-on-small-only col s1 m1 l3">

  </div>
  <div style="margin-top:22px; margin-right:6px; margin-left:8px;" class="input-field col s3 m3 l1 left-align">
    <button class="left-align btn btn-large fLalezar gold black-text" type="submit">جستجو
    </button>
  </div>
  <div style="direction:rtl; text-align:right;" class="fLalezar input-field col s8 m7 l5 right-align ">
    <input style="direction:rtl; text-align:right;" class="fLalezar gold-text" placeholder="سریال مجموعه ورزشی" type="text" name="serial_number" >
</div>

<div class="hide-on-small-only col s0 m1 l3">

</div>
  </form>
</div>

<br>
<div  class="row">
  <h5 class="white-text fLalezar">



    <div style="margin-bottom: 25px;" class="col s12 m6 l3 center">
    <a class="gold-text " style="border: 2px solid #d4af37; border-radius: 7px; white-space: pre;" href="{% url 'salon:publiclist' %}">             لیست سالن ها              </a>
    </div>
    <div style="margin-bottom: 25px;" class="col s12 m6 l3 center">
    <a class="gold-text" style="border: 2px solid #d4af37; border-radius: 7px; white-space: pre;"  href="{% url 'session:publiclist' %}">            لیست سانس ها            </a>
    </div>
    <div style="margin-bottom: 25px;" class="col s12 m6 l3 center">
    <a class="gold-text " style="border: 2px solid #d4af37; border-radius: 7px; white-space: pre;" href="{% url 'session:todaypubliclist' %}">                     رزرو امروز                     </a>
    </div>
    <div style="margin-bottom: 25px;" class="col s12 m6 l3 center">
    <a class="gold-text" style="border: 2px solid #d4af37; border-radius: 7px; white-space: pre;" href="{% url 'sportclub:publiclist' %}">         مجموعه های ورزشی       </a>
    </div>
  </h5>


<div class="hide">
<h1>سامانه ورزش کن سامانه ی رزرو سانس ورزشی و رزرو سالن ورزشی و رزرو سالن فوتسال</h1>
<div style="direction: rtl; unicode-bidi: embed;">
<h2 style="text-align: right;">مقدمه</h2>
<p style="text-align: right;">سامانه ورزش کن یک سامانه آنلاین رزرو سانس ها و سالن های ورزشی می باشد. که با هدف آسان تر کردن نحوه ی رزرو سالن های ورزشی ایجاد شده است. و به مردم عزیز ایران این امکان را می دهد تا با کمترین دردسر و در کوتاه ترین زمان مقدور به رزرو و انجام ورزش موردنظر خود شوند. در ادامه با ما همراه باشید. تا با چگونگی <strong>رزرو سانس ها و سالن های ورزشی در سامانه ورزش کن</strong> آشنا شوید.</p>

<h2 style="text-align: right;"><a href="https://varzesh-kon.ir/">سامانه ورزش کن</a></h2>
<img class="alignnone wp-image-28 size-full" src="https://varzesh-kon.ir/blog/wp-content/uploads/2020/02/favicon.png" alt="سامانه ورزش کن" width="251" height="251" />
<p style="text-align: right;">همانطور که اشاره شد; سامانه ورزش کن یک سامانه ی آنلاین برای رزرو سانس ها و سالن های کشور میباشد.</p>
<p style="text-align: right;">که به عنوان رابط میان مردم و مجموعه های ورزشی عمل کرده. و کار رزرو سانس ها را برای هر دو طرف چندین برابر آسان تر می کند.</p>
<p style="text-align: right;">دیگر نیازی نیست برای رزرو سانس ها در مجموعه ورزشی مورد نظر حضور یافت.</p>
<p style="text-align: right;">یا برای اطلاع از سانس های خالی .یک سالن چندین بار به مجموعه های ورزشی مختلف تلفن کرد. کافیست در سامانه ورزش کن ثبت نام کرده و سانس مورد نظر خود را از میان هزاران سانس انتخاب کنید. و به صورت آنلاین سانس مورد نظر را رزرو نمائید.</p>
<p style="text-align: right;">در حال حاضر رشته های ورزشی پشتیبانی شده در این سامانه فوتسال - فوتبال - والیبال - هندبال - بسکتبال می باشد. اما در آینده نزدیک امکان پشتیبانی. از دیگر رشته های ورزشی اعم از شنا و باشگاه بدنسازی و ... به این سامانه اضافه می شود.</p>

<h2 style="text-align: right;">چگونگی رزرو سانس ها و سالن های ورزشی در سامانه ورزش کن</h2>
<p style="text-align: right;">برای رزرو سانس مورد نظر خود. سامانه ورزش کن برای راحتی شما. راه های مختلفی در نظر گرفته که در زیر به برخی از آن ها اشاره میکنیم.</p>

<ol>
 	<li style="text-align: right;">انتخاب مجموعه ورزشی مورد نظر. از روی <a href="http://www.varzesh-kon.ir/sportclub/map/">نقشه</a> موجود در سایت. سپس انتخاب سالن و سانس مورد نظر برای رزرو.</li>
 	<li style="text-align: right;">جستجو بر اساس سریال مخصوص هر مجموعه ورزشی. به طوری که هر مجموعه ورزشی یک سریال مخصوص به خود را دارد .که با جستجوی آن سریال در سایت میتوان محل مورد نظر را پیدا کرد. و به رزرو سانس های آن اقدام کرد.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین <a href="http://www.varzesh-kon.ir/sportclub/Plist/">مجموعه های ورزشی</a>. که میتواند بر اساس شماره تلفن – استان – نام مجموعه ورزشی و… باشد و پس از پیدا کردن مجموعه ورزشی مورد نظر; کاربر میتواند مانند مراحل قبلی اقدام به رزرو سانس های آن کند.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین<a href="http://www.varzesh-kon.ir/salon/salon/salon-Plist/"> سالن ها</a>. بر اساس ابعاد – ورزش های قابل انجام در سالن – تخفیف های سالن و … که پس از پیدا کردن سالن مربوطه میتوان سانس های آن را رزرو کرد.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین <a href="http://www.varzesh-kon.ir/session/sessions-Plist/">سانس ها</a>. بر اساس روز موردنظر – ساعت شروع سانس – طول سانس – هزینه مورد نظر برای رزرو سانس – درصد تخفیف و … و پس از پیدا کردن سانس رزرو آن.</li>
 	<li style="text-align: right;">استفاده از قسمت <a href="http://www.varzesh-kon.ir/session/today-Plist/">امروزو رزرو کن!</a>. موجود در سایت که به کاربر این امکان را میدهد سانس های آن روز را به ترتیب نزدیک ترین زمان مشاهده کرده و در صورت تمایل آن ها را رزرو نماید.</li>
 	<li style="text-align: right;">استفاده از بخش سانس ها و سالن های پیشنهادی در <a href="http://www.varzesh-kon.ir/">صفحه ی اصلی سایت</a>. که به راحتی قابل استفاده میباشد.</li>
 	<li style="text-align: right;">درصورت عدم دسترسی کاربر به اینترنت این امکان وجود دارد که مجموعه ورزشی مورد نظر آن سانس را به صورت مجازی و بدون دریافت هزینه رزرو کند. و از رزرو کردن آن سانس توسط کاربران جلوگیری کند.</li>
</ol>
<h2>مجموعه ورزشی هستید؟</h2>
آیا مجموعه ورزشی هستید و میخواهید با کمترین دردسر و بدون هزینه اضافی کار خود را چندین برابر آسان کنید؟

کافیست آدرس مجموعه ورزشی خود و شماره تلفن خود را به مدیران سامانه ورزش کن بفرستید. و یا اطلاعات گفته شده را به آدرس info@varzesh-kon.ir ایمیل بزنید تا مدیران ما در اسرع وقت با شما تماس بگیرند.

این امکان در سامانه ورزش کن وجود دارد که همکاری خود با این سامانه را به صورت آزمایشی و سه ماهه آغاز کنید.

و در صورت رضایت همکاری خود را ادامه دهید. پس از ثبت نام در سامانه فقط کافیست مشخصات سالن ورزشی و تایم های ورزشی خود را تنظیم کنید و بقیه کارها را به ما بسپارید.
<h2>چرا سامانه ورزش کن؟</h2>
<h3>امنیت بالا در رزرو سانس ها</h3>
سامانه ورزش که با امنیت بالا طراحی شده و به شما این امکان را می دهد با اتصال به درگاه های واسط مانند <a href="https://www.zarinpal.com/">زرین پال</a> با اطمینان و خیال آسوده نسبت به رزرو سانس موردنظر خود اقدام کنید.
<h3>بدون هزینه اضافی</h3>
در سامانه ورزش کن برای رزرو سانس ها و سالن های ورزشی مدنظر خود لازم نیست هیچ هزینه اضافی بپردازید. و همان هزینه تعیین شده توسط مجموعه ورزشی قابل پرداخت است.

<img class="size-medium wp-image-20 aligncenter" src="https://varzesh-kon.ir/blog/wp-content/uploads/2020/02/photo5960710417351291817-1-300x221.jpg" alt="بدون هزینه اضافی" width="300" height="221" />
<h3>سرعت بالای سامانه ورزش کن</h3>
سامانه ورزش کن با اتصال به سرور های پرقدرت از سرعت بالایی برخوردار است. و در وقت گران قدر شما به میزان قابل توجهی صرفه جویی می کند.

</div>
</div>



</div>

<br>


<div class="row">
  <div class="col s1 m2 l2">

  </div>
  <div class="col s10 m8 l8">

    <h2 style="white-space: pre;" class="fMarkazi white-text right-align">با             </h2>
    <h1 class="fLalezar gold-text center">ورزش کن</h1>
    <h2 class="fMarkazi white-text left">!آسون تر ورزش کن</h2>



  </div>
    <div class="col s1 m2 l2">

    </div>
</div>





</div>
<!-- introduction -->



<!-- map -->
<div id="map" class="blocktwo grey lighten-3 section scrollspy">
  <nav class="pushpin-demo-nav pinned" data-target="map" style="z-index: 2;top: 0px;">
    <div class="nav-wrapper white">
      <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down table-of-contents fLalezar">
          <li><a style="color:#d4af37;" href="#introduction">ورزش کن</a></li>
          <li><a style="color:#d4af37;"" href="#map">نقشه</a></li>
          <li><a style="color:#d4af37;" href="#salon">سالن ها و سانس ها</a></li>
        </ul>

        <a href="{% url 'index' %}"  ><img style="height: 100%" class="brand-logo center" src="/media/logos/white_logo.png"></a>
        <ul class="right">
        <a  href="#" data-target="nav2" class="sidenav-trigger"><i  class="gold-text material-icons"><font >menu</font></i></a>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger gold-text fLalezar" href="#!" data-target="dropdown2"><i class="material-icons right gold-text">arrow_drop_down</i>میانبر</a></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i class=" material-icons gold-text">account_balance</i></a></li>
          {% else %}
          <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i class=" material-icons gold-text">event_note</i></a></li>
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i class=" material-icons gold-text">account_balance</i></a></li>
          {% endif %}

          <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i class="material-icons gold-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li><a href="{% url 'commonuser:dashboard' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i class="material-icons gold-text">event</i></a></li>
          <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i class="material-icons gold-text">account_circle</i></a></li>
          <li><a href="{% url 'company:contactus' %}" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i class=" material-icons gold-text">phone</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i class=" material-icons gold-text">event_note</i></a></li>
          <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i class="material-icons gold-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_masteruser %}
          <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i class=" material-icons gold-text">event_note</i></a></li>
          <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i class="material-icons gold-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% else %}
          <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
          <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
          <li><a href="{% url 'company:contactus' %}" class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i class=" material-icons gold-text">phone</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
<!-- end nav-->
<div class="container">
<br><br><br><br><br><div class="row">

</div>

{% leaflet_map 'gis' callback="window.points" %}
</div>
<br>
<div class="row">
  <div class=" hide-on-med-and-down col s0 m0 l0 xl1">

  </div>
  <div class="col s12 m7 l7 right-align fHarmattan"><h5 style="direction: rtl; text-align: justify; text-justify: inter-word;">
با انتخاب مجموعه ورزشی مورد نظر خود از نقشه میتوانید نسبت به رزرو سانس های ورزشی آن اقدام فرمائید.
<br>
</h5>  </div>
  <div class="col s12 m5 l4 left">
    <br>
    <div class="center center-align">
      <a href="{% url 'sportclub:publiclist' %}" style="height:40px; margin-top:16px" class="waves-effect waves-light btn-large teal fLalezar" ><h6 >جستجوی مجموعه های ورزشی<i class="material-icons left" style="margin-right:0px; margin-left:-10px">search</i></h6></a>
    </div>

  </div>

</div>
</div>
<!-- map -->





<!-- salon -->
<div id="salon" style="background-color: #550680;" class="blockthree section scrollspy">

<!-- end nav-->
<br><br><br>
<div style="white-space:pre" class="row">

</div>


<div class="row"><h3>
  <div class="col s0 m5 l5">
  </div>
  <div class="col s12 m4 l4 center-align">
  <h2  ><a href="{% url 'salon:publiclist' %}" style="height:40px; margin-top:16px" class="waves-effect waves-light btn-large cyan fLalezar" ><h6>جستجوی سالن ها<i class="material-icons left" style="margin-right:0px; margin-left:-10px">search</i></h6></a></h2>
  </div>
<div class="col s12 m2 l2">
  <h2 style="white-space:pre;" class="fLalezar center-align white-text"> سالن ها و  </h2>
</div>
<div class="col s0 m1 l1">
</div>


<div class="col s0 m2 l2">
</div>
<div class="col s12 m4 l4 center-align">
<h2><a href="{% url 'session:publiclist' %}" style="height:40px; margin-top:16px" class="waves-effect waves-light btn-large cyan fLalezar" ><h6>جستجوی سانس ها<i class="material-icons left" style="margin-right:0px; margin-left:-10px">search</i></h6></a></h2>
</div>
<div class="col s12 m3 l3">
<h2 style="white-space:pre" class="fLalezar center-align white-text"> سانس های</h2>
</div>
<div class="col s0 m3 l3">
</div>

<div class="col s0 m4 l4">
</div>
<h2 style="white-space:pre" class="fLalezar center-align white-text">
<div class="col s12 m12 l4">
 پیشنهادی
</div>
</h2>
<div class="col s0 m4 l4">
</div>


<br><br>
</div>
<div class="row center fLalezar" ">
    <div class="customcontainer" style="margin-left:6%; margin-right:6%">
  {% for object in salons %}
  {% if object.salon.is_confirmed %}
<div class="row">



  <div style=" margin-top:40px" class="col s12 m12 l7">

    <div class="card grey lighten-2 hoverable z-depth-3" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <div class="card-content">
        {% if object.salon.pictures.all %}
            <div style="z-index: 1;" class="slider">
                <ul style="z-index: 1; " class="slides">
        {% for pic in object.salon.pictures.all %}
            <li >
              <img style="z-index: 1" src="{{pic.picture.url}}">
            </li>
        {% endfor %}
          </ul>
        </div>
        {% endif %}
        <br>

        <div class="row">
          <div class="col s6 m6 l6 right-align fHarmattan">{{object.salon.area}}</div>
          <div class="col s6 m6 l6 left-align">(اندازه سالن (متر مربع</div>
        </div>
        <div class="row">
          <div class="col s6 m6 l6 right-align fHarmattan">{{object.salon.floor_type}}</div>
          <div class="col s6 m6 l6 left-align">جنس کف سالن</div>
        </div>
        <div class="row">
        <div class="col s6 m6 l6 right-align fHarmattan">
          {% if object.salon.is_football %}
          فوتبال
          {% endif %}
          {% if object.salon.is_futsall %}
          فوتسال
          {% endif %}
          {% if object.salon.is_volleyball %}
          والیبال
          {% endif %}
          {% if object.salon.is_basketball %}
          بسکتبال
          {% endif %}
          {% if object.salon.is_handball %}
          هندبال
          {% endif %}
        </div>
        <div class="col s6 m6 l6 left-align">زمینه ورزشی سالن</div>
        </div>


      </div>

      <div class="card-tabs" style="height: auto; background-color: #230136;">
        <ul class="tabs tabs-fixed-width" style="background-color: #230136;">
          <li class="tab"><a class="fHarmattan white-text" href="#options{{object.pk}}">امکانات</a></li>
          <li class="tab"><a class="fHarmattan white-text active" href="#sportclub{{object.pk}}">مجموعه ورزشی</a></li>
          <li class="tab"><a class="fHarmattan white-text" href="#session{{object.pk}}">جزئیات سانس </a></li>
        </ul>
      </div>
      <div  class="card-content grey lighten-2" >
        <div id="session{{object.pk}}" style=" font-size: 80%">
          <div class="row"><h6 style="margin-bottom:-8px;">
            <div class="col s3 m4 l4 right-align fHarmattan black-text">{{object.salon.six_to_twelve_sessions_discount}}%</div>
            <div class="col s9 m8 l8 left-align fLalezar">تخفیف رزروهای بین ۶ و ۱۲ جلسه</div>
  <br><br>
            <div class="col s3 m4 l4 right-align fHarmattan black-text">{{object.salon.more_than_twelve_sessions_discount}}%</div>
            <div class="col s9 m8 l8 left-align fLalezar">تخفیف رزروهای بین ۱۲ و ۲۴ جلسه</div>
  <br><br>
            <div class="col s3 m4 l4 right-align fHarmattan black-text">{{object.salon.more_than_twelve_sessions_discount}}%</div>
            <div class="col s9 m8 l8 left-align fLalezar">تخفیف رزروهای بیش از ۲۴ جلسه</div>
  </h6>
  <br><br>
  <div class="col s12 m12 l6 center-align"><a href="{% url 'session:publiclistforsalon' object.salon.pk %}" style="height:40px;white-space:pre; margin-top:16px;" class="waves-effect waves-light btn-large " ><h6> سانس های این سالن </h6></a></div>
  <div class="col s12 m12 l6 center-align"><a href="{% url 'booking:signcontract' object.salon.pk %}" style="height:40px; margin-top:16px; white-space:pre;" class="waves-effect waves-light btn-large " ><h6>عقد قرارداد با این سالن</h6></a></div>
          </div>
        </div>


        <div class="center " style="height: auto" id="options{{object.pk}}">
          {% if object.salon.locker %}
          <div class="tiptool">
            <img style="margin:10px;" src="/media/logos/locker.png" width="42"><span class="tiptooltext" >کمد</span>
          </div>
          {% endif %}
          {% if object.salon.air_conditioner %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/air_conditioner.png" width="42"><span class="tiptooltext" >تهویه هوا</span>
          </div>
          {% endif %}
          {% if object.salon.ball_rent %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/ball_rent.png" width="42"><span class="tiptooltext" >اجاره توپ</span>
        </div>
          {% endif %}
          {% if object.salon.spectator_place %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/spectator_place.png" width="42"><span class="tiptooltext" >جایگاه تماشاچی</span>
        </div>
          {% endif %}
          {% if object.salon.shower %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/shower.png" width="42"><span class="tiptooltext" >دوش</span>
        </div>
          {% endif %}
          {% if object.salon.changing_room %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/changing_room1.png" width="42"><span class="tiptooltext" >اتاق تعویض لباس</span>
        </div>
          {% endif %}
          {% if object.salon.parking_area %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/parking_area.png" width="42"><span class="tiptooltext" >پارکینگ</span>
        </div>
          {% endif %}
          {% if object.salon.drinking_water %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/drinking_water.png" width="42"><span class="tiptooltext" >آب آشامیدنی</span>
        </div>
          {% endif %}
          {% if object.salon.safe_keeping %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/safe_keeping.png" width="42"><span class="tiptooltext" >امانتداری</span>
        </div>
          {% endif %}
          {% if object.salon.buffet %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/buffet.png" width="42"><span class="tiptooltext" >بوفه</span>
        </div>
          {% endif %}
          {% if object.salon.taxi %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/taxi.png" width="42"><span class="tiptooltext" >تاکسی ویژه</span>
        </div>
          {% endif %}
          {% if object.salon.wifi %}<div class="tiptool">
            <img style="margin:10px;" src="/media/logos/wifi.png" width="42"><span class="tiptooltext" >وای فای</span>
        </div>
          {% endif %}
        </div>
        <div id="sportclub{{object.pk}}" style="height: auto">
          <div class="row fHarmattan">
            <div class="col s7 m7 l7 right-align black-text">{{object.salon.sportclub.sportclub_name}}</div>
            <div class="col s5 m5 l5 left-align fLalezar">نام مجموعه ورزشی</div>
            <div class="col s7 m7 l7 right-align black-text">{{object.salon.sportclub.serial_number}}</div>
            <div class="col s5 m5 l5 left-align fLalezar">سریال مجموعه ورزشی</div>
            <div class="col s7 m7 l7 right-align black-text">{{object.salon.sportclub.region}}</div>
            <div class="col s5 m5 l5 left-align fLalezar">استان</div>
            <div class="col s7 m7 l7 right-align black-text">{{object.salon.sportclub.address}}</div>
            <div class="col s5 m5 l5 left-align fLalezar">آدرس</div>
            <div class="col s7 m7 l7 right-align black-text">{{object.salon.sportclub.company_phone_number}}</div>
            <div class="col s5 m5 l5 left-align fLalezar">شماره تلفن ثابت</div>
          </div>
  <a target="_blank" href="{% url 'sportclub:publicdetail' pk=object.salon.sportclub.pk %}" style="height:40px; margin-top:0px" class="waves-effect waves-light btn-large" ><h6>جزئیات</h6></a>

        </div>
      </div>

</div>
</div>
<!-- session -->
<div class="col s12 m12 l5 fHarmattan">
  <br><br>
  {% for session in sessions %}
  {% if session.salon == object.salon %}

    <div style="margin-top:35px; height:auto;  background-color: #9F6B99FF;" class="card-panel gold" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      {% if session.discount_percentage or session.salon.company_discount_percentage %}
      <div class="badge">
      <span>{{ session.discount_percentage|add:session.salon.company_discount_percentage }}%</span>
      </div>
      {% else %}
      <div class="cbadge">
      <span >{{ session.discount_percentage|add:session.salon.company_discount_percentage }}%</span>
      </div>
      {% endif %}
      <h6 style="font-size:21px; margin-top:-50px">
        <div class="row">

          <div class="col s6 m6 l6 right-align">
            {{session.time|date:"H:i"}}-{{session.pk|session_end}}
          </div>
          <div class="col s6 m6 l6 left-align ">
    زمان
          </div>
          <div class="col s6 m6 l6 right-align">
            {{session.day}}
          </div>
          <div class="col s6 m6 l6 left-align">
            روز
          </div>

          <div class="col s6 m6 l6 right-align">
            {{session.discount_percentage}}% {% if session.salon.company_discount_percentage %}+ {{session.salon.company_discount_percentage}}% {% endif %}
          </div>
          <div class="col s6 m6 l6 left-align">
            درصد تخفیف
          </div>
          <div class="col s6 m6 l6 right-align">
            {{session.price}}
          </div>
          <div class="col s6 m6 l6 left-align">
    (قیمت (تومان
          </div>
          <div class="col s6 m6 l6 right-align">
            {{session.pk|final_price}}
          </div>
          <div class="col s6 m6 l6 left-align">
    (قیمت نهایی (تومان
          </div>
          <a href="{% url 'session:publicdetail' pk=session.pk %}" style="height:40px; margin-top:12px; margin-bottom:-5%; background-color: #550680;"4f3466ff class="fLalezar waves-effect waves-light btn-large" ><h6>جزئیات و رزرو</h6></a>
      </h6>
    </div>
  {% endif %}
  {% endfor %}
  </div>
  <!-- session end -->
  </div>
  {% endif %}
{% endfor %}
</div>
</div>


</div>
<!-- salon -->



  <!--Footer-->
  <footer class="page-footer grey darken-4">
    <div class="container ">
      <div class="row">
        <div class="col l6 m6 s12" style="direction:ltr;">
          <h4 class="gold-text fMarkazi">سامانه ورزش کن</h4>
          <a href="{% url 'index' %}"><img class="brand-logo center" src="/media/logos/footer_logo.png" width="160"></a>
        </div>
        <div class="col l4 m4 offset-l2 offset-m2 s12 right-align fHarmattan gold-text">
          <ul><h5>
            <li><a class="gold-text" href="{% url 'company:contactus' %}">ارتباط با ما</a></li>
            <li><a class="gold-text" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی در سامانه</a></li>
            <li><a class="gold-text " href="{% url 'company:faqs' %}">سوالات متداول</a></li>
            <li><a class="gold-text " href="{% url 'company:aboutus' %}">درباره ما</a></li>
            <li><a class="gold-text" href="{% url 'company:termsdetail' %}">قوانین سایت</a></li></h5>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="fMarkazi container gold-text">
    1398  سامانه ورزش کن

      </div>
    </div>
  </footer>

        <!-- in the end this part must be copy pasted from above-->
        <ul class="sidenav black" id="nav1"  style="direction:rtl;">
          <li><br></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons white-text">account_balance</i></a></li>
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}">مدیریت سانس ها<i style="color: white;" class=" material-icons white-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons white-text">account_balance</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons white-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:dashboard' slug=user.slug %}">سانس های شما<i style="color: white;" class=" material-icons white-text">event</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons white-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons white-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons white-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_masteruser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons white-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons white-text">account_circle</i></a></li>
          {% endif %}
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'login' %}">ورود<i  class=" material-icons white-text">keyboard_tab</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:signup' %}">عضویت<i  class=" material-icons white-text">person_add</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i  class=" material-icons white-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i  class=" material-icons white-text">search</i></a></li>

          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i  class=" material-icons white-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37; direction:ltr;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i  class=" material-icons white-text">event_available</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons white-text">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class=" material-icons white-text">beenhere</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:contactus' %}">ارتباط با ما<i style="color: white;" class=" material-icons white-text">phone</i></a></li>
          {% if user.is_authenticated %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'logout' %}">خروج<i style="color: white;" class=" material-icons white-text">close</i></a></li>
          {% endif %}
        </ul>


        <ul class="sidenav white" id="nav2" style="direction:rtl;">
          <li><br></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons teal-text">account_balance</i></a></li>
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}">مدیریت سانس ها<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons teal-text">account_balance</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:dashboard' slug=user.slug %}">سانس های شما<i style="color: white;" class=" material-icons teal-text">event</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_masteruser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'login' %}">ورود<i  class=" material-icons teal-text">keyboard_tab</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:signup' %}">عضویت<i  class=" material-icons teal-text">person_add</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i  class=" material-icons teal-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i  class=" material-icons teal-text">search</i></a></li>

          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i  class=" material-icons teal-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37; direction:ltr;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i  class=" material-icons teal-text">event_available</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons teal-text">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class=" material-icons teal-text">beenhere</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:contactus' %}">ارتباط با ما<i style="color: white;" class=" material-icons teal-text">phone</i></a></li>
          {% if user.is_authenticated %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'logout' %}">خروج<i style="color: white;" class=" material-icons teal-text">close</i></a></li>
          {% endif %}
</ul>




        <ul id="dropdown1" class="dropdown-content black" style="border: #d4af37 1px solid;">
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i style="color: white;" class=" material-icons">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i style="color: white;" class=" material-icons">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i style="color: white;" class=" material-icons">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i style="color: white;" class=" material-icons">event_available</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class="material-icons">beenhere</i></a></li>
          {% endif %}
        </ul>


        <ul id="dropdown2" class="dropdown-content white" style="direction:ltr; border: #d4af37 1px solid;">
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i style="color: white;" class=" material-icons teal-text">event_available</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons teal-text">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class=" material-icons teal-text">beenhere</i></a></li>
          {% endif %}
          </ul>


        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bin/anime.min.js' %}"> </script>
        <script src="{% static 'js/materialize.min.js' %}"> </script>
        <script type="text/javascript">
          $(document).ready(function() {
          M.updateTextFields();
        });
        </script>
        <script>
          M.AutoInit();
          $(document).ready(function(){
            $('.slider').slider({
       full_width: true,
       height : 270, // default - height : 400
   });
          });
          $(document).ready(function(){
            $('.sidenav').sidenav();
          });

          $(document).ready(function(){
            $('.tooltipped').tooltip();
          });
          $(document).ready(function(){
            $('.pushpin').pushpin();
            $('.remove .remove').pushpin('remove');
          });
          $(document).ready(function(){
            $('.scrollspy').scrollSpy();
          });

          $(document).ready(function(){
            $(".dropdown-trigger").dropdown({ constrainWidth: false, alignment: 'right' });
          });

        </script>
        <script type="text/javascript">
          M.AutoInit();
          $('.pushpin-demo-nav').each(function() {
              var $this = $(this);
              var $target = $('#' + $(this).attr('data-target'));
              $this.pushpin({
                top: $target.offset().top,
              });
          });
        </script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script>
      AOS.init();
    </script>
      </body>
    </html>
