{% load static %}
{% load customtags_sportclub %}
{% load customtags_session %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<!DOCTYPE html>
<html>
  <head>
    <title>
        رزرو سالن ورزشی | سامانه ورزش کن
    </title>
    <meta name="google-site-verification" content="5rzOcKTW4Po3gOenh5hEYZLu04gfKUsHZ3GRGieYyMA" />
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<link rel="shortcut icon" type="image/png" href="https://varzesh-kon.ir/favicon.png"/>
<link rel="shortcut icon" type="image/png" href="/media/logos/favicon.png"/>

<!-- date picker -->
<link href="{% static 'css/datepicker/bootstrap.css' %}" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<link href="{% static 'css/datepicker/jquery.Bootstrap-PersianDateTimePicker.css' %}"  rel="stylesheet" />
<script src="{% static 'js/datepicker/jquery-2.1.4.js' %}" ></script>
<script src="{% static 'js/datepicker/bootstrap.js' %}" ></script>
<link type="text/css" href="{% static 'css/datepicker/persian-datepicker.css' %}" rel="stylesheet" />
<!-- date picker -->


    <link href="{% static 'css/aos.css' %}" rel="stylesheet">

   <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0, initial-scale=1.0"/>
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="(c) 2019 varzesh-kon.ir">
    <meta name="description" content="سامانه ورزش کن سامانه ی آنلاین رزرو سانس ها و سالن های ورزشی اعم از سالن فوتسال و والیبال و ... میباشد که ...">
    <meta name="keywords" content=",رزرو سانس والیبال,سالن والیبال,رزرو سالن والیبال,,بسکتبال,هندبال,والیبال,رزرو سالن فوتسال,رزرو زمین چمن,زمین چمن,والیبال,سامانه رزرو سالن فوتسال,ورزش کن,سامانه ورزش کن,سانس ورزشی,رزرو سانس ورزشی,رزرو آنلاین سانس,رزرو اینترنتی سالن فوتسال,رزرو آنلاین سالن فوتسال,رزرو سالن فوتسا,رزرو سانس ورزشی,رزرو سانس,سالن فوتسال,فوتسال,سالن,سانس,رزرو">

    <style media="screen">
        #gis {width:100%;height:400px;z-index: 0;}
    </style>
    <style type="text/css">
      html,body{
        overflow-x:hidden;
      }
</style>
    <script type="text/javascript" src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  </head>
  <body class="fHarmattan grey lighten-4">
<!-- initialzing sportclub points on map -->
<script type="text/javascript">
  function points(map,options){
    var datasets = new L.GeoJSON.AJAX("{% url 'sportclub:mapdataset' %}",{
      onEachFeature: function(feature, layer){

        layer.bindPopup(feature.properties.pk.toString());
        var pk = feature.properties.pk;
        layer.on("click", function(e){
          console.log("inner",pk);
          location.href='/sportclub/Pdetail/'+pk+'/';
        });

      }
    });
    datasets.addTo(map);
  }
</script>
<!-- initialzing sportclub points on map -->


<!-- introduction -->
<div class="blockone section scrollspy navbar-fixed ">
  <nav class="navbar-fixed" data-target="introduction" style="z-index: 5;top: 0px;">
    <div class="nav-wrapper white">
      <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down table-of-contents fLalezar">
          <li><a style="color: #d4af37;" href="#search">جستجو</a></li>
          <li><a style="color: #d4af37;" href="#map">نقشه</a></li>
          <li><a style="color: #d4af37;" href="#salon">سالن ها و سانس ها</a></li>
        </ul>

        <a href="{% url 'index' %}"  ><img style="height: 100%" class="brand-logo center" src="/media/logos/white_logo.png" ></a>
        <ul class="right">
        <a  href="#" data-target="nav1" class="sidenav-trigger"><i  class="gold-text material-icons"><font color="#d4af37">menu</font></i></a>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger gold-text fLalezar" href="#!" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>میانبر</a></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
          {% else %}
          <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
          {% endif %}

          <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li><a href="{% url 'commonuser:dashboard' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
          <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'company:contactus' %}" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>


          {% endif %}
          {% if user.is_masteruser %}
          <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
          <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
          {% endif %}
          {% else %}
          <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
          <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
          <li><a href="{% url 'company:contactus' %}" class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
<!-- end nav-->

<div class="grey darken-1">
  <br><br><br>

  <h4 class="row center black-text fHarmattan">
  رزرو آنلاین سانس ها و سالن های ورزشی در سامانه ورزش کن
  </h4>
  <br>
  </div>
<div id="search" class="row ">

<div class="row" style="direction:rtl; text-align:right;">
  <form method="POST" style="direction:rtl; text-align:right;">
{% csrf_token %}

<div class="grey darken-3">
  <br>
  <h4 class="row center fLalezar gold-text">
        جستجو در سانس های ورزشی

  </h4>
  {% if error %}

  {% endif %}
<div class="row red-text">
<div class="container">


  <div style="direction:rtl; text-align:right;" class="fLalezar input-field right-align ">
    <div class="col s6 m3 l2 center-align">
<label>
<input style="direction:rtl;  text-align:right; color:d4af37;" value="grass" class="fLalezar gold-text col s12 m11 l11"  type="radio" name="type"/>
<span style="margin-top:18px;">زمین چمن</span>
</label>
    </div>
    <div class="col s6 m3 l2 center-align">
      <label>
  <input checked style="direction:rtl; text-align:right; color:d4af37;" value="salon" class="fLalezar gold-text col s12 m11 l11" type="radio" name="type"/>
  <span style="margin-top:18px;">سالن</span>
</label>
</div>
    <div class="col s12 m3 l4">
      <input style="direction:rtl; text-align:right; color:d4af37;" class="fLalezar gold-text col s12 m11 l11" placeholder="روز"
       id="exampleInput3" data-mddatetimepicker="true" data-englishnumber="true" autocomplete="off" type="text" name="day" >
    </div>
    <div class="col s12 m3 l4">
      <select style="border:none; border-bottom: 1px solid #9e9e9e;" class="col s12 m11 l11 grey darken-3 fLalezar gold-text" name="time">
        <option style="white-space:pre;" value="" disabled selected>        ساعت شروع</option>
        <option style="white-space:pre;" value="1" >      قبل از 10 صبح</option>
        <option style="white-space:pre;" value="2">      بین 10 صبح و 15 ظهر</option>
        <option style="white-space:pre;" value="3">     بین 15 ظهر و 19 شب</option>
        <option style="white-space:pre;" value="4">     بعد از 19 شب</option>


      </select>

    </div>

  </div>
</div>
</div>


<div class="row grey darken-3 center-align">
  <button class="input-field center-align left-align left-align btn btn-large fLalezar gold black-text " type="submit">جستجو
  </button>
</div>
</div>
<div style="margin:-20px;" class="row center grey darken-1 black-text fLalezar"">
<br>
<h4 >

  جستجوی مجموعه ها
</h4>

</div>
<div class="row grey darken-1 center">


  {% if error %}
  <div class="col s12 m12 l12 center white-text text-darken-2">
    <h5 style="direction:rtl;">
  مجموعه ورزشی با سریال وارد شده پیدا نشد.
  </h5>
</div>
  {% endif %}

  <div  class="container input-field left-align">
    <div style="direction:rtl; text-align:right;" class="fLalezar input-field right-align ">
      <input style="direction:rtl; text-align:right; color:d4af37;" class="fLalezar gold-text" placeholder="سریال مجموعه ورزشی" type="text" name="serial_number" >
  </div>


  </div>

<button class=" btn btn-large fLalezar gold black-text" type="submit">جستجو
</button>

<br><br>

</div>

  </form>
</div>




<div class="hide">
<h1>سامانه ورزش کن سامانه ی رزرو سانس ورزشی و رزرو سالن ورزشی و رزرو سالن فوتسال</h1>
<div style="direction: rtl; unicode-bidi: embed;">
<h2 style="text-align: right;">مقدمه</h2>
<p style="text-align: right;">سامانه ورزش کن یک سامانه آنلاین رزرو سانس ها و سالن های ورزشی می باشد. که با هدف آسان تر کردن نحوه ی رزرو سالن های ورزشی ایجاد شده است. و به مردم عزیز ایران این امکان را می دهد تا با کمترین دردسر و در کوتاه ترین زمان مقدور به رزرو و انجام ورزش موردنظر خود شوند. در ادامه با ما همراه باشید. تا با چگونگی <strong>رزرو سانس ها و سالن های ورزشی در سامانه ورزش کن</strong> آشنا شوید.</p>

<h2 style="text-align: right;"><a href="https://varzesh-kon.ir/">سامانه ورزش کن</a></h2>
<img class="alignnone wp-image-28 size-full" src="https://varzesh-kon.ir/blog/wp-content/uploads/2020/02/favicon.png" alt="سامانه ورزش کن" width="251" height="251" />
<p style="text-align: right;">همانطور که اشاره شد; سامانه ورزش کن یک سامانه ی آنلاین برای رزرو سانس ها و سالن های کشور میباشد.</p>
<p style="text-align: right;">که به عنوان رابط میان مردم و مجموعه های ورزشی عمل کرده. و کار رزرو سانس ها را برای هر دو طرف چندین برابر آسان تر می کند.</p>
<p style="text-align: right;">دیگر نیازی نیست برای رزرو سانس ها در مجموعه ورزشی مورد نظر حضور یافت.</p>
<p style="text-align: right;">یا برای اطلاع از سانس های خالی .یک سالن چندین بار به مجموعه های ورزشی مختلف تلفن کرد. کافیست در سامانه ورزش کن ثبت نام کرده و سانس مورد نظر خود را از میان هزاران سانس انتخاب کنید. و به صورت آنلاین سانس مورد نظر را رزرو نمائید.</p>
<p style="text-align: right;">در حال حاضر رشته های ورزشی پشتیبانی شده در این سامانه فوتسال - فوتبال - والیبال - هندبال - بسکتبال می باشد. اما در آینده نزدیک امکان پشتیبانی. از دیگر رشته های ورزشی اعم از شنا و باشگاه بدنسازی و ... به این سامانه اضافه می شود.</p>

<h2 style="text-align: right;">چگونگی رزرو سانس ها و سالن های ورزشی در سامانه ورزش کن</h2>
<p style="text-align: right;">برای رزرو سانس مورد نظر خود. سامانه ورزش کن برای راحتی شما. راه های مختلفی در نظر گرفته که در زیر به برخی از آن ها اشاره میکنیم.</p>

<ol>
 	<li style="text-align: right;">انتخاب مجموعه ورزشی مورد نظر. از روی <a href="http://www.varzesh-kon.ir/sportclub/map/">نقشه</a> موجود در سایت. سپس انتخاب سالن و سانس مورد نظر برای رزرو.</li>
 	<li style="text-align: right;">جستجو بر اساس سریال مخصوص هر مجموعه ورزشی. به طوری که هر مجموعه ورزشی یک سریال مخصوص به خود را دارد .که با جستجوی آن سریال در سایت میتوان محل مورد نظر را پیدا کرد. و به رزرو سانس های آن اقدام کرد.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین <a href="http://www.varzesh-kon.ir/sportclub/Plist/">مجموعه های ورزشی</a>. که میتواند بر اساس شماره تلفن – استان – نام مجموعه ورزشی و… باشد و پس از پیدا کردن مجموعه ورزشی مورد نظر; کاربر میتواند مانند مراحل قبلی اقدام به رزرو سانس های آن کند.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین<a href="http://www.varzesh-kon.ir/salon/salon/salon-Plist/"> سالن ها</a>. بر اساس ابعاد – ورزش های قابل انجام در سالن – تخفیف های سالن و … که پس از پیدا کردن سالن مربوطه میتوان سانس های آن را رزرو کرد.</li>
 	<li style="text-align: right;">جستجوی پیشرفته بین <a href="http://www.varzesh-kon.ir/session/sessions-Plist/">سانس ها</a>. بر اساس روز موردنظر – ساعت شروع سانس – طول سانس – هزینه مورد نظر برای رزرو سانس – درصد تخفیف و … و پس از پیدا کردن سانس رزرو آن.</li>
 	<li style="text-align: right;">استفاده از قسمت <a href="http://www.varzesh-kon.ir/session/today-Plist/">امروزو رزرو کن!</a>. موجود در سایت که به کاربر این امکان را میدهد سانس های آن روز را به ترتیب نزدیک ترین زمان مشاهده کرده و در صورت تمایل آن ها را رزرو نماید.</li>
 	<li style="text-align: right;">استفاده از بخش سانس ها و سالن های پیشنهادی در <a href="http://www.varzesh-kon.ir/">صفحه ی اصلی سایت</a>. که به راحتی قابل استفاده میباشد.</li>
 	<li style="text-align: right;">درصورت عدم دسترسی کاربر به اینترنت این امکان وجود دارد که مجموعه ورزشی مورد نظر آن سانس را به صورت مجازی و بدون دریافت هزینه رزرو کند. و از رزرو کردن آن سانس توسط کاربران جلوگیری کند.</li>
</ol>
<h2>مجموعه ورزشی هستید؟</h2>
آیا مجموعه ورزشی هستید و میخواهید با کمترین دردسر و بدون هزینه اضافی کار خود را چندین برابر آسان کنید؟

کافیست آدرس مجموعه ورزشی خود و شماره تلفن خود را به مدیران سامانه ورزش کن بفرستید. و یا اطلاعات گفته شده را به آدرس info@varzesh-kon.ir ایمیل بزنید تا مدیران ما در اسرع وقت با شما تماس بگیرند.

این امکان در سامانه ورزش کن وجود دارد که همکاری خود با این سامانه را به صورت آزمایشی و سه ماهه آغاز کنید.

و در صورت رضایت همکاری خود را ادامه دهید. پس از ثبت نام در سامانه فقط کافیست مشخصات سالن ورزشی و تایم های ورزشی خود را تنظیم کنید و بقیه کارها را به ما بسپارید.
<h2>چرا سامانه ورزش کن؟</h2>
<h3>امنیت بالا در رزرو سانس ها</h3>
سامانه ورزش که با امنیت بالا طراحی شده و به شما این امکان را می دهد با اتصال به درگاه های واسط مانند <a href="https://www.zarinpal.com/">زرین پال</a> با اطمینان و خیال آسوده نسبت به رزرو سانس موردنظر خود اقدام کنید.
<h3>بدون هزینه اضافی</h3>
در سامانه ورزش کن برای رزرو سانس ها و سالن های ورزشی مدنظر خود لازم نیست هیچ هزینه اضافی بپردازید. و همان هزینه تعیین شده توسط مجموعه ورزشی قابل پرداخت است.

<img class="size-medium wp-image-20 aligncenter" src="https://varzesh-kon.ir/blog/wp-content/uploads/2020/02/photo5960710417351291817-1-300x221.jpg" alt="بدون هزینه اضافی" width="300" height="221" />
<h3>سرعت بالای سامانه ورزش کن</h3>
سامانه ورزش کن با اتصال به سرور های پرقدرت از سرعت بالایی برخوردار است. و در وقت گران قدر شما به میزان قابل توجهی صرفه جویی می کند.

</div>
</div>

</div>


<div class="row">
  <div class="col s1 m2 l2">
<br>
  </div>

    <div class="col s1 m2 l2">

    </div>
</div>

</div>
<!-- introduction -->

<!-- map -->
<div class="blocktwo grey lighten-1 section scrollspy">

<!-- end nav-->
<div  class="container row">
<div class="row">
</div>
<div id="map" style="margin-top:-40px; direction:rtl;"  class="fHarmattan center"><h6>
با انتخاب مجموعه ورزشی مورد نظر خود از نقشه میتوانید نسبت به رزرو سانس های ورزشی آن اقدام فرمائید.
<br><br><br>
</h6>
</div>
{% leaflet_map 'gis' callback="window.points" %}
</div>
<br>

</div>
<!-- map -->



<div style="margin:-10px" class="row grey lighten-2">
  <br><br><br>
  <h5 class="fLalezar">

    <div style="margin-bottom: 27px;" class="col s12 m6 l3 center">
    <a class="white-text teal" style="border: 2px solid #009688; border-radius: 7px; white-space: pre;" href="{% url 'salon:publiclist' %}">                   سالن ها                    </a>
    </div>
    <div style="margin-bottom: 27px;" class="col s12 m6 l3 center">
    <a class="white-text teal" style="border: 2px solid #009688; border-radius: 7px; white-space: pre;"  href="{% url 'session:publiclist' %}">                  سانس ها                  </a>
    </div>
    <div style="margin-bottom: 27px;" class="col s12 m6 l3 center">
    <a class="white-text teal " style="border: 2px solid #009688; border-radius: 7px; white-space: pre;" href="{% url 'session:todaypubliclist' %}">                   رزرو امروز                   </a>
    </div>
    <div style="margin-bottom: 27px;" class="col s12 m6 l3 center">
    <a class="white-text teal" style="border: 2px solid #009688; border-radius: 7px; white-space: pre;" href="{% url 'sportclub:publiclist' %}">       مجموعه های ورزشی     </a>
    </div>
  </h5>
</div>


<!-- salon -->
<div style="margin:-10px"  class="blockthree section scrollspy grey lighten-2">

<br><br><br>
<div id="salon" class="row fLalezar center teal-text"> <h3>
  سالن ها و سانس های پیشنهادی
</h3>
</div>


<br><br>

  <div class="row">
  <div class="col s12">
    <ul style=" height:150px; border-radius: 18px; border-left: 6px solid #d4af37; border-right: 6px solid #d4af37;" class="tabs center">
      {% for object in salons %}
      {% if object.salon.is_confirmed %}
      <li style="height:150px;" class="tab"><a href="#tab{{object.salon.pk}}">

        {% if object.salon.pictures.all %}

        {% for pic in object.salon.pictures.all %}
        {% if forloop.first %}
              <img style="z-index: 1; height:150px;" src="{{pic.picture.url}}">
        {% endif %}
        {% endfor %}

        {% endif %}

</a></li>
      {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
<div class="center">
{% for object in salons %}
{% if object.salon.is_confirmed %}
<div id="tab{{object.salon.pk}}" style="height:auto" class="row">

  <div  class="col l6 m6 s12">
    <div style="margin:3%; padding:30px;" class="card fLalezar teal-text" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">

    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.sportclub.sportclub_name}}</div>
      <div class="col s6 m6 l6 left-align">نام مجموعه ورزشی</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.sportclub.region}}</div>
      <div class="col s6 m6 l6 left-align">استان</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.area}}</div>
      <div class="col s6 m6 l6 left-align">(اندازه سالن (متر مربع</div>
    </div>
    <div class="row">
    <div class="col s6 m6 l6 right-align fHarmattan black-text">
      {% if object.salon.is_football %}
      فوتبال
      {% endif %}
      {% if object.salon.is_futsall %}
      فوتسال
      {% endif %}
      {% if object.salon.is_volleyball %}
      والیبال
      {% endif %}
      {% if object.salon.is_basketball %}
      بسکتبال
      {% endif %}
      {% if object.salon.is_handball %}
      هندبال
      {% endif %}
    </div>
    <div class="col s6 m6 l6 left-align">زمینه ورزشی سالن</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.sportclub.address}}</div>
      <div class="col s6 m6 l6 left-align">آدرس سالن</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.sportclub.company_phone_number}}</div>
      <div class="col s6 m6 l6 left-align">شماره تلفن ثابت</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align fHarmattan black-text">{{object.salon.sportclub.serial_number}}</div>
      <div class="col s6 m6 l6 left-align">سریال مجموعه ورزشی</div>
    </div>


    <div class="row">
<div class="col s12 m12 l6 center-align"><a href="{% url 'sportclub:publicdetail' pk=object.salon.sportclub.pk %}" style="height:40px;white-space:pre; margin-top:16px;" class="waves-effect waves-light btn-large z-depth-0" ><h6>جزئیات و محل مجموعه</h6></a></div>
<div class="col s12 m12 l6 center-align"><a href="{% url 'booking:signcontract' object.salon.pk %}" style="height:40px; margin-top:16px; white-space:pre;" class="waves-effect waves-light btn z-depth-0" ><h6>    عقد قرارداد با این سالن    </h6></a></div>
<div class="col s12 m12 l12 center-align"><a href="{% url 'session:publiclistforsalon' object.salon.pk %}" style="height:40px;white-space:pre; margin-top:16px;" class="waves-effect waves-light btn-large z-depth-3" ><h6>   رزرو و جزئیات سالن     </h6></a></div>
    </div>

  </div>
  </div>
  <div  class="col l6 m6 s12">
    {% for session in sessions %}
    {% if session.salon == object.salon %}
    <div style="margin-top:45px;">

    </div>
<div style="  width: 0; margin-left:8px; height: 0; border-top: 20px solid transparent;
  border-bottom: 28px solid transparent; border-right:28px solid #d4af37; margin-bottom:-85px;"
  data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">

</div>
      <div style="margin:5%; height:auto; padding-bottom:5%;" class="card-panel grey lighten-3 teal-text " data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        {% if session.discount_percentage or session.salon.company_discount_percentage %}
        <div class="badge">
        <span>{{ session.discount_percentage|add:session.salon.company_discount_percentage }}%</span>
        </div>
        {% else %}
        <div class="cbadge">
        <span >{{ session.discount_percentage|add:session.salon.company_discount_percentage }}</span>
        </div>
        {% endif %}

        <h6 style="font-size:21px; margin-top:-50px">

          <div class="row">
            <div class="col s6 m6 l6 right-align black-text">
              <div style="margin:3px;">
                  {{session.day}}
              </div>
            </div>
            <div class="col s6 m6 l6 left-align fLalezar">
              <div style="margin:3px;">
              روز
              </div>
            </div>
            <div class="col s6 m6 l6 right-align black-text">
              <div style="margin:3px;">
              {{session.time|date:"H:i"}}-{{session.pk|session_end}}
              </div>
            </div>
            <div class="col s6 m6 l6 left-align fLalezar">
              <div style="margin:3px;">
      زمان
              </div>
            </div>
            <div class="col s6 m6 l6 right-align black-text">
              <div style="margin:3px;">
              {{session.price}}
              </div>
            </div>
            <div class="col s6 m6 l6 left-align fLalezar">
              <div style="margin:3px;">
      (قیمت (تومان
              </div>
            </div>
            {% if session.discount_percentage or session.salon.company_discount_percentage %}
            <div class="col s6 m6 l6 right-align black-text">
              <div style="margin:3px;">
              {{session.pk|final_price}}
              </div>
            </div>
            <div class="col s6 m6 l6 left-align fLalezar">
              <div style="margin:3px;">
      (قیمت نهایی (تومان
              </div>
            </div>
            {% endif %}
            <a href="{% url 'session:publicdetail' pk=session.pk %}" style="height:40px; margin-top:12px; margin-bottom:-5%; " class="fLalezar waves-effect waves-light btn-large gold z-depth-2" ><h6>رزرو</h6></a>
        </h6>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<!-- offering -->




<div class="grey lighten-1 black-text right-align">

<h5 class="fHarmattan container" style="direction: rtl; text-align: justify; text-justify: inter-word;">
  <br><br>
سامانه ورزش کن یک سامانه ی آنلاین رزرو سانس های ورزشی و سالن های ورزشی کشور میباشد
 که از سال 1398 کار خود را شروع کرده است. رشته های ورزشی که در حال حاضر توسط این سامانه
  پشتیبانی میشوند عبارتند از: فوتسال, والیبال, فوتبال,بسکتبال و هندبال.
  اما در آینده ی نزدیک مدیران این سامانه در نظر دارند دیگر رشته های
 ورزشی اعم از بدنسازی و شنا را نیز پشتیبانی کنند.
با استفاده از این سامانه شما میتوانید به صورت آنلاین و اینترنتی سالن های مورد نظر خود مانند سالن فوتسال
را رزرو نمائید.
لازم به ذکر است که با استفاده کردن از این سامانه هیچ هزینه اضافی
از شما گرفته نمیشود و شما همان هزینه ای را پرداخت خواهید کرد که مجموعه ورزشی آن را تعیین کرده است.
 سامانه ورزش کن این هدف را دارد که با برطرف کردن مشکلات و سختی های
 رزرو کردن سانس قدمی در راستای کمک به ورزشکاران عزیز بردارد.
 <br>
اگر مجموعه ورزشی هستید و سالن ورزشی مانند سالن فوتسال داشته و قصد دارید مدیریت سالن و سانس های خود را چند
 برابر آسان تر کنید سامانه ورزش کن این امکان را به شما میدهد تا با ثبت نام در آن در عرض فقط چند دقیقه
 سانس های سالن مورد نظر خود را ایجاد کرده و آنها را قیمت گذاری کنید
  و بقیه کار ها را به ما بسپارید. کافیست از طریق لینک
  <a href="{% url 'company:sportclubcontact' %}">   ثبت مجموعه ورزشی در سامانه </a>

   فرم مربوطه را پر کرده تا بدون افزایش هزینه هم مدیریت سالن خود
   را آسان تر کنید و هم دیگر سانس خالی و رزرو نشده ای نداشته باشید
    و ورزشکاران کشور را در راستای رزرو کردن تایم های مورد نظرشان یاری بفرمائید.
<br><br></h5>
</div>




<!-- salon -->



  <!--Footer-->
  <footer class="page-footer white">
    <div class="container ">
      <div class="row">
        <div class="col l6 m6 s12" style="direction:ltr;">
          <h4 class="gold-text fLalezar">سامانه ورزش کن</h4>
          <a href="{% url 'index' %}"><img class="brand-logo center" src="/media/logos/white_footer.png" width="160"></a>
        </div>
        <div class="col l4 m4 offset-l2 offset-m2 s12 right-align fHarmattan gold-text">
          <ul><h5>
            <li><a class="gold-text" href="{% url 'company:contactus' %}">ارتباط با ما</a></li>
            <li><a class="gold-text" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی در سامانه</a></li>
            <li><a class="gold-text " href="{% url 'company:faqs' %}">سوالات متداول</a></li>
            <li><a class="gold-text " href="{% url 'company:aboutus' %}">درباره ما</a></li>
            <li><a class="gold-text" href="{% url 'company:termsdetail' %}">قوانین سایت</a></li></h5>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright grey darken-2">
      <div class="fLalezar container white-text">
    1398  سامانه ورزش کن

      </div>
    </div>
  </footer>

        <ul class="sidenav white" id="nav1" style="direction:rtl;">
          <li><br></li>
          {% if user.is_authenticated %}
          {% if user.is_sportclub %}
          {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons teal-text">account_balance</i></a></li>
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}">مدیریت سانس ها<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:workspace' slug=user.slug %}">مدیریت سالن ها<i style="color: white;" class=" material-icons teal-text">account_balance</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:dashboard' slug=user.slug %}">سانس های شما<i style="color: white;" class=" material-icons teal-text">event</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_superuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'accounts:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% if user.is_masteruser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:workspace' slug=user.slug %}">میز کار<i style="color: white;" class=" material-icons teal-text">event_note</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'masteruser:profile' slug=user.slug %}">پروفایل<i style="color: white;" class=" material-icons teal-text">account_circle</i></a></li>
          {% endif %}
          {% else %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'login' %}">ورود<i  class=" material-icons teal-text">keyboard_tab</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'commonuser:signup' %}">عضویت<i  class=" material-icons teal-text">person_add</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i  class=" material-icons teal-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i  class=" material-icons teal-text">search</i></a></li>

          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i  class=" material-icons teal-text">search</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37; direction:ltr;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i  class=" material-icons teal-text">event_available</i></a></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons teal-text">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class=" material-icons teal-text">beenhere</i></a></li>
          {% endif %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:contactus' %}">ارتباط با ما<i style="color: white;" class=" material-icons teal-text">phone</i></a></li>
          {% if user.is_authenticated %}
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'logout' %}">خروج<i style="color: white;" class=" material-icons teal-text">close</i></a></li>
          {% endif %}
</ul>






        <ul id="dropdown1" class="dropdown-content white" style="direction:ltr; border: #d4af37 1px solid;">
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'sportclub:publiclist' %}">مجموعه های ورزشی<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'salon:publiclist' %}">سالن ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:publiclist' %}">سانس ها<i style="color: white;" class=" material-icons teal-text">search</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'session:todaypubliclist' %}">!امروزو رزرو کن<i style="color: white;" class=" material-icons teal-text">event_available</i></a></li>
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="https://varzesh-kon.ir/blog/">وبلاگ<i style="color: white;" class=" material-icons teal-text">question_answer</i></a></li>
          {% if not user.is_authenticated or user.is_commonuser %}
          <li class="divider gold"></li>
          <li class="gold-text"><a class="fLalezar" style="color:#d4af37;" href="{% url 'company:sportclubcontact' %}">ثبت مجموعه ورزشی<i style="color: white;" class=" material-icons teal-text">beenhere</i></a></li>
          {% endif %}
          </ul>

          <script src="{% static 'js/datepicker/calendar.min.js' %}" ></script>
          <script src="{% static 'js/datepicker/jquery.Bootstrap-PersianDateTimePicker.js' %}" ></script>

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bin/anime.min.js' %}"> </script>
        <script src="{% static 'js/materialize.min.js' %}"> </script>
        <script type="text/javascript">
          $(document).ready(function() {
          M.updateTextFields();
        });
        </script>
        <script>
          M.AutoInit();
          $(document).ready(function(){
            $('.slider').slider({
       full_width: true,
       height : 270, // default - height : 400
   });
          });
          $(document).ready(function(){
            $('.sidenav').sidenav();
          });
          $(document).ready(function(){
            $('.tabs').tabs({
              duration:500,
              swipeable:true,

            });

          });

          $(document).ready(function(){
            $('.tooltipped').tooltip();
          });
          $(document).ready(function(){
            $('.pushpin').pushpin();
            $('.remove .remove').pushpin('remove');
          });
          $(document).ready(function(){
            $('.scrollspy').scrollSpy();
          });

          $(document).ready(function(){
            $(".dropdown-trigger").dropdown({ constrainWidth: false, alignment: 'right' });
          });

        </script>
        <script type="text/javascript">
          M.AutoInit();
          $('.pushpin-demo-nav').each(function() {
              var $this = $(this);
              var $target = $('#' + $(this).attr('data-target'));
              $this.pushpin({
                top: $target.offset().top,
              });
          });


        </script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script>
      AOS.init();
    </script>
      </body>
    </html>
