{% extends "base_templates/base_sidesearch.html" %}
{% load customtags_sportclub %}
{% load static %}
{% load leaflet_tags %}
{% block head_block %}
{% leaflet_css %}
{% leaflet_js %}
<title>
    لیست سالن ها | سامانه ورزش کن
</title>

<link href="{% static 'css/aos.css' %}" rel="stylesheet">
{% endblock %}


{% block body_block %}

<div class="row">

  <div class="col s12 m12 l2 fMarkazi teal-text">

  <ul id="slide-out" style="border-top: #00796b 10px solid; margin-top:63px; padding-bottom:150px;" class="sidenav sidenav-fixed grey lighten-3">

    <br>
    <li class="center teal-text fLalezar" style="font-size:120%" >جستجوی پیشرفته</li>
    <li><div style="border-top: #00796b 2px solid;" class="divider teal"></div></li>
    <br>
    <form  method="get">
<li></li>
<div class="input-field col s12">
  {{filter.form.area__gte}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="area__gte">ابعاد سالن بزرگتر و مساوی</label>
</div>
<div class="input-field col s12">
  {{filter.form.area__lte}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="area__lte">ابعاد سالن کوچکتر و مساوی</label>
</div>
<div class="input-field col s12">
  {{filter.form.company_discount_percentage__gte}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__gte">درصد تخفیف سامانه بزرگتر و مساوی</label>
</div>
<div class="input-field col s12">
  {{filter.form.company_discount_percentage__lte}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">درصد تخفیف سامانه کوچکتر و مساوی</label>
</div>
<div class="input-field col s6 m6 l6">
  {{filter.form.is_futsall}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">فوتسال</label>
</div>
<div class="input-field col s6 m6 l6">
  {{filter.form.is_football}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">فوتبال</label>
</div>
<div class="input-field col s6 m6 l6">
  {{filter.form.is_basketball}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">بسکتبال</label>
</div>
<div class="input-field col s6 m6 l6">
  {{filter.form.is_volleyball}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">والیبال</label>
</div>
<div class="input-field col s6 m6 l6">
  {{filter.form.is_handball}}
  <label  style="font-size:90%" class="fLalezar teal-text" for="company_discount_percentage__lte">هندبال</label>
</div>
<div class="row">

</div>
<li class="center">  <button class="fLalezar hoverable btn waves-effect waves-dark teal white-text z-depth-3" type="submit">جستجو
</button></li>

    </form>
  </ul>

  </div>

  <div  class="col s12 m12 l10 grey darken-3 fMarkazi">
    <!-- Teal page content  -->

<div class="container">


<span class="center-align"><h3 style="margin-left:5%" class="fLalezar gold-text";>لیست سالن ها</h3><br><br></span>



  <div class="row center">
    {% for salon in salons %}
    {% if salon.is_confirmed %}
  <div style="margin-left:5%" class="card hoverable grey lighten-2  z-depth-5 teal-text" data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" data-aos-duration="1300">
    <div class="card-content">
      {% if salon.pictures.all %}
          <div style="z-index: 1;" class="slider">
              <ul style="z-index: 1; " class="slides">
      {% for pic in salon.pictures.all %}
          <li >
            <img style="z-index: 1" src="{{pic.picture.url}}">
          </li>
      {% endfor %}
        </ul>
      </div>
      {% endif %}
      <br>

      <div class="row">
        <div class="col s6 m6 l6 right-align black-text">{{salon.area}}</div>
        <div class="col s6 m6 l6 left-align fLalezar fLalezar">(انداره سالن (متر مربع</div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6 right-align black-text">{{salon.floor_type}}</div>
        <div class="col s6 m6 l6 left-align fLalezar">جنس کف سالن</div>
      </div>
      <div class="row">
      <div class="col s6 m6 l6 right-align black-text">
        {% if salon.is_football %}
        فوتبال
        {% endif %}
        {% if salon.is_futsall %}
        فوتسال
        {% endif %}
        {% if salon.is_volleyball %}
        والیبال
        {% endif %}
        {% if salon.is_basketball %}
        بسکتبال
        {% endif %}
        {% if salon.is_handball %}
        هندبال
        {% endif %}
      </div>
      <div class="col s6 m6 l6 left-align fLalezar">زمینه ورزشی سالن</div>
      </div>


    </div>

    <div class="card-tabs " style="height: 50px;">
      <ul class="tabs tabs-fixed-width grey darken-4" style="">
        <li class="tab"><a class="white-text" href="#options{{salon.pk}}">امکانات سالن</a></li>
        <li class="tab"><a class="white-text active" href="#sportclub{{salon.pk}}">مجموعه ورزشی</a></li>
        <li class="tab"><a class="white-text" href="#session{{salon.pk}}">جزئیات سانس </a></li>
      </ul>
    </div>
    <div  class="card-content grey lighten-2">
      <div id="session{{salon.pk}}" style="height: 215px">
        <div class="row"><h6>
          <div class="col s4 m4 l4 right-align black-text">{{salon.six_to_twelve_sessions_discount}}%</div>
          <div class="col s8 m8 l8 left-align fLalezar">تخفیف قراردادهای بین ۶ و ۱۲ جلسه</div>
<br><br>
          <div class="col s4 m4 l4 right-align black-text">{{salon.more_than_twelve_sessions_discount}}%</div>
          <div class="col s8 m8 l8 left-align fLalezar">تخفیف قراردادهای بین ۱۲ و ۲۴ جلسه</div>
<br><br>
          <div class="col s4 m4 l4 right-align black-text">{{salon.more_than_twelve_sessions_discount}}%</div>
          <div class="col s8 m8 l8 left-align fLalezar">تخفیف قرارداد های بیش از ۲۴ جلسه</div>
</h6>
<br><br>
<div class="col s12 m6 l6 center-align"><a href="{% url 'session:publiclistforsalon' salon.pk %}" style="height:40px; margin-top:16px" class="waves-effect waves-light btn-large " ><h6>لیست سانس های سالن و رزرو</h6></a></div>
<div class="col s12 m6 l6 center-align"><a href="{% url 'booking:signcontract' salon.pk %}" style="height:40px; margin-top:16px; white-space:pre;" class="waves-effect waves-light btn-large " ><h6>   عقد قرارداد با این سالن  </h6></a></div>
        </div>
      </div>


      <div class="center " style="height: 195px" id="options{{salon.pk}}">
        {% if salon.locker %}
        <div class="tooltip">
          <img style="margin:10px;" src="/media/logos/locker.png" width="42"><span class="tooltiptext" >کمد</span>
        </div>
        {% endif %}
        {% if salon.air_conditioner %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/air_conditioner.png" width="42"><span class="tooltiptext" >تهویه هوا</span>
        </div>
        {% endif %}
        {% if salon.ball_rent %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/ball_rent.png" width="42"><span class="tooltiptext" >اجاره توپ</span>
      </div>
        {% endif %}
        {% if salon.spectator_place %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/spectator_place.png" width="42"><span class="tooltiptext" >جایگاه تماشاچی</span>
      </div>
        {% endif %}
        {% if salon.shower %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/shower.png" width="42"><span class="tooltiptext" >دوش</span>
      </div>
        {% endif %}
        {% if salon.changing_room %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/changing_room1.png" width="42"><span class="tooltiptext" >اتاق تعویش لباس</span>
      </div>
        {% endif %}
        {% if salon.parking_area %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/parking_area.png" width="42"><span class="tooltiptext" >پارکینگ</span>
      </div>
        {% endif %}
        {% if salon.drinking_water %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/drinking_water.png" width="42"><span class="tooltiptext" >آب آشامیدنی</span>
      </div>
        {% endif %}
        {% if salon.safe_keeping %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/safe_keeping.png" width="42"><span class="tooltiptext" >امانتداری</span>
      </div>
        {% endif %}
        {% if salon.buffet %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/buffet.png" width="42"><span class="tooltiptext" >بوفه</span>
      </div>
        {% endif %}
        {% if salon.taxi %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/taxi.png" width="42"><span class="tooltiptext" >تاکسی ویژه</span>
      </div>
        {% endif %}
        {% if salon.wifi %}<div class="tooltip">
          <img style="margin:10px;" src="/media/logos/wifi.png" width="42"><span class="tooltiptext" >وای فای</span>
      </div>
        {% endif %}
      </div>
      <div id="sportclub{{salon.pk}}" style="height: 195px">
        <div class="row">
          <div class="col s8 m8 l8 right-align black-text">{{salon.sportclub.sportclub_name}}</div>
          <div class="col s4 m4 l4 left-align fLalezar">نام مجموعه ورزشی</div>
          <div class="col s8 m8 l8 right-align black-text">{{salon.sportclub.serial_number}}</div>
          <div class="col s4 m4 l4 left-align fLalezar">شماره سریال مجموعه ورزشی</div>
          <div class="col s8 m8 l8 right-align black-text">{{salon.sportclub.region}}</div>
          <div class="col s4 m4 l4 left-align fLalezar">استان</div>
          <div class="col s8 m8 l8 right-align black-text">{{salon.sportclub.address}}</div>
          <div class="col s4 m4 l4 left-align fLalezar">آدرس</div>
          <div class="col s8 m8 l8 right-align black-text">{{salon.sportclub.company_phone_number}}</div>
          <div class="col s4 m4 l4 left-align fLalezar">شماره تلفن ثابت</div>
          <a href="{% url 'sportclub:publicdetail' pk=salon.sportclub.pk %}" style="height:40px; margin-top:16px" class="waves-effect waves-light btn-large" ><h6>جزئیات</h6></a>
        </div>
      </div>
    </div>

  </div>

  <br><br>
  {% endif %}
  {% endfor %}
</div>


<div class="container center">


<ul style="margin-left:5%"  class="pagination  z-depth-5 hoverable white fMarkazi">
  {% if salons.has_previous %}
  <li class="waves-effect"><a href="?page=1">&laquo; اولین صفحه</a></li>
      <li class="waves-effect"><a href="?page={{ salons.previous_page_number }}">قبلی  </a></li>

  {% endif %}
  <li  style="white-space:pre;"  class="disabled active">  <span>صفحه</span> <span>{{ salons.number }}</span>  <span>از</span> <span>{{ salons.paginator.num_pages }}</span> </li>

  {% if salons.has_next %}
      <li class="waves-effect"><a href="?page={{ salons.next_page_number }}">بعدی</a></li>
      <li class="waves-effect"><a href="?page={{ salons.paginator.num_pages }}">آخرین صفحه &raquo;</a></li>

  {% endif %}


</ul>
</div>



</div>

<footer style="width:105%; margin-left:-10px; margin-bottom:-30px; " class="page-footer grey darken-4">
    <div class="container ">
      <div class="row">
        <div class="col l6 m6 s12">
          <h4 class="gold-text fMarkazi">سامانه ورزش کن</h4>
          <a href="{% url 'index' %}"><img class="brand-logo center" src="/media/logos/footer_logo.png" width="160"></a>
        </div>
        <div class="col l4 m4 offset-l2 offset-m2 s12 right-align fMarkazi gold-text">
          <ul><h5>
            <li><a class="gold-text" href="{% url 'company:contactus' %}">ارتباط با ما</a></li>
            <li><a class="gold-text " href="{% url 'company:faqs' %}">سوالات متداول</a></li>
            <li><a class="gold-text " href="{% url 'company:aboutus' %}">درباره ما</a></li>
            <li><a class="gold-text" href="{% url 'company:termsdetail' %}">قوانین سایت</a></li></h5>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="fMarkazi container gold-text">
    1398  سامانه ورزش کن

      </div>
    </div>
</footer>
<!-- footer -->

</div>
</div>


{% endblock %}
{% block script_block %}
<script src="{% static 'js/aos.js' %}"></script>
<script>
AOS.init();
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({
full_width: true,
height : 330,
interval : 2100
});
  });
  $(document).ready(function() {
  M.updateTextFields();
});
$(document).ready(function(){
  $('.collapsible').collapsible();
});
$(document).ready(function(){
  $('select').formSelect();
});
</script>
{% endblock %}
