<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name=”robots” content=”noindex,follow”>
    <title>
مجموعه ورزشی بلاک شده | سامانه ورزش کن
    </title>
  </head>
  <body>
    <h1>The related SportClub is Banned for some reason</h1>
    <p>
      SportClub Details Are as follow:
      username: {{sportclub_detail.user.username}}<br>
      phone number: {{sportclub_detail.phone_number}}<br>
      address: {{sportclub_detail.address}}<br>
      more info: {{sportclub_detail.info}}<br>
      {% if sportclub_detail.bankaccount_name %}
      accounts owner name {{sportclub_detail.bankaccount_name}}<br>
      bank name: {{sportclub_detail.bankaccount_bankname}}<br>
      card number:{{sportclub_detail.bankaccount_cardnumber}}<br>
      account number{{sportclub_detail.bankaccount_number}}<br>
      shaba number{{sportclub_detail.bankaccount_shabanumber}}<br>
      {% else %}
      this sportclub has not entered his bank details.<br>
      {% endif %}
    </p>
      <p><a href="{% url 'sportclub:unban' slug=sportclub_detail.user.slug %}">UNBAN?</a> </p>
      in front some pop has to show for these

      {% for salon in salons %}
      {{salon}}<br>
      <p>salon details: <a href="{% url 'salon:detail' pk=salon.pk %}">here</a> </p>
      <p>-----------------------------------------</p>
      {% endfor %}

  </body>
</html>
