{% extends "base_templates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
    لیست سالن ها | سامانه ورزش
</title>
{% endblock %}

{% block body_block %}


<div class="section">

  <div class="container"><br>
<span class="center-align"><h3 class="fMarkazi gold-text";>لیست سالن های ورزشی</h3><br><br></span>

  <div class="row center">

    {% for salon in salons %}
  <div class="card-panel hoverable pink accent-3 z-depth-5 fMarkazi">
{% if salon.pictures.all %}
    <div class="slider">
        <ul class="slides">
{% for pic in salon.pictures.all %}
    <li>
      <img src="{{pic.picture.url}}"> <!-- random image -->
    </li>
{% endfor %}
  </ul>
</div>
{% endif %}
    <h3 class=" fMarkazi gold-text">اطلاعات سالن ورزشی</h3>
  <div class="row">
    <div class="col s6 m6 l6 right-align">
    {% if salon.is_confirmed %}
    تایید شده <i class="material-icons green-text">check</i>
    {% else %}
    در انتظار تایید شدن <i class="material-icons white-text">close</i>
    {% endif %}
  </div>
    <div class="col s6 m6 l6 left-align">وضعیت سالن</div>
  </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align">{{salon.area}}</div>
      <div class="col s6 m6 l6 left-align">(اندازه سالن (متر مربع</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align">{{salon.lastdatas.get.first_day}}</div>
      <div class="col s6 m6 l6 left-align">مرز ایجاد سانس</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align">{{salon.floor_type}}</div>
      <div class="col s6 m6 l6 left-align">کیفیت کفپوش سالن</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align">
{% if salon.locker %}<img class="tooltipped" data-position="bottom" data-tooltip="کمد" src="/media/logos/locker.png" width="35">
{% endif %}
{% if salon.air_conditioner %}<img class="tooltipped" data-position="bottom" data-tooltip="تهویه هوا" src="/media/logos/air_conditioner.png" width="35">
{% endif %}
{% if salon.ball_rent %}<img class="tooltipped" data-position="bottom" data-tooltip="اجاره توپ" src="/media/logos/ball_rent.png" width="35">
{% endif %}
{% if salon.spectator_place %}<img class="tooltipped" data-position="bottom" data-tooltip="جایگاه تماشاچی" src="/media/logos/spectator_place.png" width="35">
{% endif %}
{% if salon.shower %}<img class="tooltipped" data-position="bottom" data-tooltip="حمام" src="/media/logos/shower.png" width="35">
{% endif %}
{% if salon.changing_room %}<img class="tooltipped" data-position="bottom" data-tooltip="اتاق تعویض لباس" src="/media/logos/changing_room1.png" width="35">
{% endif %}
{% if salon.parking_area %}<img class="tooltipped" data-position="bottom" data-tooltip="پارکینگ" src="/media/logos/parking_area.png" width="35">
{% endif %}
{% if salon.drinking_water %}<img class="tooltipped" data-position="bottom" data-tooltip="آب آشامیدنی" src="/media/logos/drinking_water.png" width="35">
{% endif %}
{% if salon.safe_keeping %}<img class="tooltipped" data-position="bottom" data-tooltip="امانتداری" src="/media/logos/safe_keeping.png" width="35">
{% endif %}
{% if salon.buffet %}<img class="tooltipped" data-position="bottom" data-tooltip="بوفه" src="/media/logos/buffet.png" width="35">
{% endif %}
{% if salon.taxi %}<img class="tooltipped" data-position="bottom" data-tooltip="تاکسی" src="/media/logos/taxi.png" width="35">
{% endif %}
{% if salon.wifi %}<img class="tooltipped" data-position="bottom" data-tooltip="وای فای" src="/media/logos/wifi.png" width="35">
{% endif %}
      </div>
      <div class="col s6 m6 l6 left-align">امکانات سالن</div>
    </div>
    <div class="row">
      <div class="col s6 m6 l6 right-align">
        {% if salon.is_football %}
        فوتبال
        {% endif %}
        {% if salon.is_futsall %}
        فوتسال
        {% endif %}
        {% if salon.is_volleyball %}
        والیبال
        {% endif %}
        {% if salon.is_basketball %}
        بسکتبال
        {% endif %}
        {% if salon.is_handball %}
        هندبال
        {% endif %}
      </div>
      <div class="col s6 m6 l6 left-align">مناسب برای</div>
      <div class="row">
        <div class="col s6 m6 l6 right-align">{{salon.six_to_twelve_sessions_discount}}</div>
        <div class="col s6 m6 l6 left-align">درصد تخفیف برای کاربرانی که قراردادی به مدت بین ۶ تا ۱۲ جلسه تنظیم میکنند</div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6 right-align">{{salon.more_than_twelve_sessions_discount}}</div>
        <div class="col s6 m6 l6 left-align">درصد تخفیف برای کاربرانی که قراردادی بین ۱۲ و ۲۴ جلسه تنظیم میکنند</div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6 right-align">{{salon.more_than_24_sessions_discount}}</div>
        <div class="col s6 m6 l6 left-align">درصد تخفیف برای کاربرانی که قراردادی بالای ۲۴ جلسه تنظیم میکنند</div>
      </div>
    </div>
    <div class="row">

    </div>



{% if request.user.is_masteruser or request.user.is_superuser %}
    {% if salon.is_confirmed %}
    <div class="row">
<div class="col s12 m6 l6 center-align"><a style="white-space:pre" href="#banmodal{{salon.pk}}" class="waves-effect waves-light btn modal-trigger modal-close red white-text"><h6>                   <span>مسدود کردن سالن</span>                   </h6></a><p></p></div>
<div class="col s12 m6 l6 center-align"><a style="white-space:pre" href="{% url 'session:list' pk=salon.pk %}" class="hoverable waves-effect waves-light btn gold white-text"><h6>                   <span>سانس های این سالن</span>                 </h6></a><p></p></div>
<div class="col s12 m12 l12 center-align"><a style="white-space:pre" href="{% url 'session:lastdataset' pk=salon.pk %}" class="hoverable waves-effect waves-light btn gold white-text"><h6>             <span>تعیین مرزهای ایجاد سانس</span>            </h6></a><p></p></div>
</div>
    {% else %}
<div class="row">
      <div class="col s12 m6 l6 center-align"><a style="white-space:pre" href="#confirmmodal{{salon.pk}}" class="waves-effect waves-light btn modal-trigger modal-close green white-text"><h6>                      <span>تایید کردن سالن</span>                     </h6></a><p></p></div>
<div class="col s12 m6 l6 center-align"><a style="white-space:pre" href="{% url 'session:list' pk=salon.pk %}" class="hoverable waves-effect waves-light btn gold white-text"><h6>                   <span>سانس های این سالن</span>                 </h6></a><p></p></div>
<div class="col s12 m12 l12 center-align"><a style="white-space:pre" href="{% url 'session:lastdataset' pk=salon.pk %}" class="hoverable waves-effect waves-light btn gold white-text"><h6>             <span>تعیین مرزهای ایجاد سانس</span>            </h6></a><p></p></div>
</div>
    {% endif %}
{% else %}
<div class="row">

<div class="col s12 m12 l12 center-align"><a style="white-space:pre" href="{% url 'booking:signcontract' pk=salon.pk %}" class="hoverable waves-effect waves-light btn gold white-text"><h6>             <span>تنظیم قرارداد</span>            </h6></a><p></p></div>
</div>
</div>
{% endif %}


  </div>
  <div class="row">
    <br>

  </div>




  <div id="banmodal{{salon.pk}}" class="modal right-align">
    <div class="modal-content fMarkazi grey darken-3">
      <h4 class="gold-text">آیا مطمئن هستید میخواهید این سالن را مسدود کنید؟</h4>
      <p>در صورت مسدود شدن سالن دیگر سانس ها قابل رزرو نخواهند بود</p>
    </div>
    <div class="modal-footer grey darken-3">
      <a href="{% url 'salon:ban' pk=salon.pk %}" class="modal-close waves-effect waves-green btn-flat fMarkazi red-text"><h6>مسدود کردن</h6></a>
      <a class="modal-close waves-effect waves-green btn-flat fMarkazi blue-text"><h6>بستن</h6></a>
    </div>
  </div>


  <div id="confirmmodal{{salon.pk}}" class="modal right-align">
    <div class="modal-content fMarkazi grey darken-3">
      <h4 class="gold-text">آیا مطمئن هستید میخواهید این سالن را تایید کنید؟</h4>
      <p>در صورت تایید شدن سانس های این سالن قابل رزرو خواهند بود</p>
    </div>
    <div class="modal-footer grey darken-3">
      <a href="{% url 'salon:confirm' pk=salon.pk %}" class="modal-close waves-effect waves-green btn-flat fMarkazi green-text"><h6>تایید</h6></a>
      <a class="modal-close waves-effect waves-green btn-flat fMarkazi blue-text"><h6>بستن</h6></a>
    </div>
  </div>


  {% endfor %}

</div>
<br><br>




</div>


</div>





{% endblock %}
{% block script_block %}
<script>
  $(document).ready(function(){
    $('.slider').slider();
  });
  $(document).ready(function(){
     $('#modal').modal();
  });

</script>
{% for salon in salons %}
<script>
  $(document).ready(function(){
     $('#banmodal{{salon.pk}}').modal();
     $('#confirmmodal{{salon.pk}}').modal();
  });
</script>
{% endfor %}
{% endblock %}
