<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>
      error | varzesh-kon
    </title>
   <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

    <body class="grey darken-3">

      <div style="z-index: 10" class="navbar-fixed">


            <nav style="min-height: 63px; height:63px;" class="black" >


        <nav class="black" >

          <div class="nav">

            <ul class="left">
              <a href="https://varzesh-kon.ir/"  ><img style="height: 100%" class="brand-logo center" src="/media/logos/black_logo.png" ></a>
            </ul>
            <ul class="right">
            </ul>
          </div>
        </nav>
  </div>



<div class="row">
  <br>
</div>

<span class="center-align"><h3 class="fMarkazi gold-text";>Error</h3><br></span>
<div class="container">

  <div class="center card-panel hoverable grey lighten-2 z-depth-5 fMarkazi black-text">
    <h6>
Requested Page Can Not Be Found!
</h6>
</div>
</div>
<br><br><br><br>

<!--Footer-->
      <footer class="page-footer grey darken-4">
        <div class="container ">
          <div class="row">
            <div class="col l6 m6 s12">
              <h4 class="gold-text fMarkazi">Varzesh Kon</h4>
              <a href="{% url 'index' %}"><img class="brand-logo center" src="/media/logos/footer_logo.png" width="160"></a>
            </div>
            <div class="col l4 m4 offset-l2 offset-m2 s12 right-align fMarkazi gold-text">
              <ul><h5>
                <li><a class="gold-text" href="https://varzesh-kon.ir/company/contact-us/">contact us</a></li>
                <li><a class="gold-text " href="https://varzesh-kon.ir/company/FAQs/">FAQs</a></li>
                <li><a class="gold-text " href="https://varzesh-kon.ir/company/about-us/">AboutUs</a></li>
                <li><a class="gold-text" href="https://varzesh-kon.ir/company/terms-detail/">Terms & Conditions</a></li></h5>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright black">
          <div class="fMarkazi container gold-text">
VARZESH KON 1398

          </div>
        </div>
      </footer>



    </body>
  </html>
